.customer-profile-page{
    min-height: 100% !important;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.blur{
    border-radius: 12px;
    border: 1px solid rgb(211, 210, 210);
}


.customer-profile{
    height: fit-content;
    min-height: 80vh;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 60px;
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.customer-profile-context{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.orders,.security,.address,.contact-us,.logout{
    height: fit-content;
    width: 300px;
    min-height: 100px;
    margin: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: #eeeeee81;
}
.orders:hover,.security:hover,.address:hover,.contact-us:hover,.logout:hover{
    background-color: #eee;
}
.orders div,.security div,.address div,.contact-us div{
    display: flex;
}
.orders p,.security p,.address p,.contact-us p,.logout p{
    padding-inline: 17px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}
.desc{
    padding: 0px !important;
    padding-left: 18px !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    color: gray !important;
}
.orders img,.security img,.address img,.contact-us img, .logout img{
    max-width: 60px;
    padding: 17px;
    align-self: center;
    user-select: none;
}
.order-context, .security-context, .address-context, .contact-us-context, .logout-us-context{
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px){
    .customer-profile-context{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 874px){
    .customer-profile{
        margin-top: 120px;
    }
}