<div class="collections-page roboto-regular">

    <app-nav-bar (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <div class="collections-page-content">
        <div class="collections-title serif">
            <a>Product Collections</a>
            <p class="lora">" At MangoTrees, we believe that everyone deserves the perfect summer with mangoes. Do you know what’s better than regular mangoes? Nuzividu mangoes. So, we have mangoes for everyone - there’s mangoes for nanis wanting to see their grandchildrens smile, mangoes to share with close friends and cousins, and mangoes for those who simply love them "</p>
        </div>
        <div *ngIf="!searchWord" class="collections-filter">
            <div class="filter-left">
                <div class="availability" (click)="showTheDiv('availability')">
                    <p class="availability-title serif">
                        Availability
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#5f6368"><path d="M480-384 288-576h384L480-384Z"/></svg>
                    </p>
                    <div class="availability-content" *ngIf="availability">
                        <div>
                            <ul>
                                <li>
                                    <label for="Filter-Availability-1" class="facet-checkbox">
                                        <input type="checkbox" [(ngModel)]="inStockSelected" (change)="FilterByAvailability()">
                                        In stock
                                    </label>
                                </li>
                                <li>
                                    <label for="Filter-Availability-2" class="facet-checkbox">
                                        <input type="checkbox" [(ngModel)]="outOfStockSelected" (change)="FilterByAvailability()">
                                        Out of stock
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="price" (click)="showTheDiv('price')">
                    <p class="price-title serif">
                        Price
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#5f6368"><path d="M480-384 288-576h384L480-384Z"/></svg>
                    </p>
                    <div class="price-content" *ngIf="price">
                        <div class="price-content-div">
                            <div class="price-content-info">
                                <p>The Highest Price is Rs. {{highestPrice | number}}</p>
                            </div>
                            <div class="price-content-info-content">
                                <div class="price-content-from">
                                    <p>₹</p>
                                    <input type="number" placeholder="From" min="0" max="1899" [(ngModel)]="minPrice" (change)="FilterByPriceRange()">
                                </div>
                                <div class="price-content-to">
                                    <p>₹</p>
                                    <input type="number" placeholder="To" min="0" max="1899" [(ngModel)]="maxPrice" (change)="FilterByPriceRange()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-right">
                <div class="sort-by">
                    <select (change)="SortProductsBy()" [(ngModel)]="SortCriteria">
                        <option value="Featured">Featured</option>
                        <option value="A-Z">Alphabetically, A-Z</option>
                        <option value="Z-A">Alphabetically, Z-A</option>
                        <option value="Price-low-high">Price, low to high</option>
                        <option value="Price-high-low">Price, high to low</option>
                    </select>
                </div>
                <div class="products-count serif">
                    <p>{{SortedPinchData.length}} products</p>
                </div>
            </div>
        </div>
        <div class="collections-content">
            <div class="collections-content-box">
                <ng-container *ngFor="let item of SortedPinchData; let ind = index">
                    <app-grid-view-item class="product" [product]="item" (ViewProduct)="ViewProduct($event)" (AddtoCart)="AddedtoCart($event)"></app-grid-view-item> 
                </ng-container> 
                <p *ngIf="SortedPinchData.length == 0" style="color: #D4A373;">
                    No products found. Please adjust your filters or try searching for a different term.
                </p>
            </div>
        </div>
        <div class="shade"></div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>

</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>