h1{
    display: none;
    padding: 25%;
    text-align: center;
    font-size: small;
}

.full{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-image: url('../../assets/Pictures/loginPage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.login {
    height: fit-content;
    width: fit-content;
    z-index: 3;
    border-radius: 10px; 
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 181, 36);
    background-image: url('../../assets/Pictures/login.jpg');
    background-repeat: repeat;
    background-size: contain;  
    background-position: right;
    
}
.login input{
    margin-bottom: 5%;
    width: 18em;
    height: 3em;
    padding-inline: 11px;
    border-radius: 5px;
    border: 0;
}
.code{
    width: 100%;
}
.code a{
    font-size: x-small;
    padding-inline: 3%;
    cursor: pointer;
}
.login button{
    width: 10em;
    height: 2.8em;
    margin-top: 3%;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(240, 248, 255, 0.612);
    transition: 1s;
}
.login button:hover{
    background-color: rgba(240, 248, 255, 0.725);
    transition: 1s;
}
.login button:active{
    background-color: white;
}
.other{
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}
.other p{
    width: fit-content;
    margin: 0;
}
.other a{
    text-decoration: none;
    color: black;
}
.other a:hover{
    cursor: pointer;
    color: rgb(185, 47, 47);
}


@media (max-width: 600px) {
    .full{
        left: 0;
        background-image: url('../../assets/Pictures/loginPage-Mobile.jpg');
        background-position: center;
    }
    .login{
        padding: 0;
        padding: 10%;
        background-repeat: no-repeat;
    }
    .login input{
        height: 2em;
        width: 9em;
        padding-inline: 10px;
        border: 0;
    }
    .login button{
        width: 6em;
        height: 2.2em;
        font-size: x-small;
    }

    .other a,p{
        font-size: xx-small;
    }

}

@media (max-width: 418px){
    .other a,p{
        font-size: 7px;
    }
}

@media (max-width: 212px){
    h1{
        display: flex;
    }
    .full{
        display: none;
    }
}

@media (max-width: 680px) and (min-width: 600px){}

@media (max-width: 1100px) and (min-width: 680px){}