<div class="full" *ngIf="!(loader)">
    <div class="login-page roboto-regular">
        <div class="login">
            <input type="text" placeholder="Username"  class="roboto-regular">
            <input type="password" placeholder="Password" class="roboto-regular">
            <input type="text" *ngIf="ShowCode" placeholder="*Enter you Code" class="roboto-regular">
            <div class="code">
                <a (click)="code()" style="float: right;" *ngIf="!ShowCode">---</a>
            </div>
            <button type="submit" (click)="LogIn()" class="roboto-light">Login</button>
            <div class="other">
                <a>Reset-Password</a>
                <a style="color: black;"> / </a>
                <a routerLink="/signup">Sign-Up</a>
                <a style="color: black;"> / </a>
                <a>Enter-as-Guest</a>
            </div>
        </div>
    </div>
</div>
<div id="loader" *ngIf="loader">
    <div class="ls-particles ls-part-1"></div>
    <div class="ls-particles ls-part-2"></div>
    <div class="ls-particles ls-part-3"></div>
    <div class="ls-particles ls-part-4"></div>
    <div class="ls-particles ls-part-5"></div>
    <div class="lightsaber ls-left ls-green"></div>
    <div class="lightsaber ls-right ls-red"></div>
</div>
<h1 class="roboto-regular">Please Use a Bigger Screen 🙏</h1>