<div class="footer-page">
    <div class="footer">
        <div class="top-footer">
            <h4>Back to top</h4>
        </div>
        <div class="middle-footer">
            <div class="Get-to-know-us">
                <h1>Get to Know Us</h1>
                <ul>
                    <li>About Us</li>
                </ul>
            </div>
            <div class="connect-with-us">
                <h1>Connect with Us</h1>
                <ul>
                    <li routerLink="/login">Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p>All CopyRights Reserved © by Mango-Trees</p>
        </div>
    </div>
</div>