.footer-page{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0px;
    background-color: antiquewhite;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: aqua;
    /* border: 1px solid rgb(237, 237, 237); */
}

.top-footer{
    text-align: center;
}

.middle-footer{
    display: flex;
    justify-content: space-around;
}

.bottom-footer{
    text-align: center;
}