<div class="page" [class.hide]="loader">
    <div class="signup-page">
        <div class="blur">
            <div class="name">
                <input type="text" placeholder="First Name" class="roboto-bold">
                <input type="text" placeholder="Last Name" class="roboto-bold">
            </div>
            <input type="number" placeholder="Phone Number" maxlength="10" class="roboto-bold">
            <input type="email" placeholder="Email" class="roboto-bold">
            <div class="password">
                <input type="text" placeholder="Password" class="roboto-bold">
                <input type="text" placeholder="Password" class="roboto-bold">
            </div>
            <div class="address">
                <div class="row">
                    <input type="text" placeholder="Address" class="roboto-bold">
                    <input type="text" placeholder="Pincode" maxlength="6" class="roboto-bold">
                </div>
                <div class="row">
                    <input type="text" placeholder="City" class="roboto-bold">
                    <input type="text" placeholder="State" class="roboto-bold">
                </div>
            </div>
            <input type="text" placeholder="Occupation" class="roboto-bold">
            <div class="terms roboto-regular-italic " style="display: flex;">
                <input type="checkbox">
                <p>terms & conditions</p>
            </div>
            <div style="text-align: center;">
                <button type="submit" (click)="SignUp()" class="roboto-bold">Sign up</button>
            </div>
        </div>
    </div>
</div>

<div [class.hide]="!(loader)">
    <app-loader></app-loader>
</div>

<h1 class="roboto-regular">Please Use a Bigger Screen 🙏</h1>