<div class="order-page" *ngIf="!loader">

    <app-nav-bar (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <div *ngIf="ordersList.length" class="order-page-context roboto-regular">
        <div class="ordered-list">
            <a routerLink="../profile">Your Account </a>
            <a routerLink="../profile">></a>
            &nbsp;
            <a>Orders</a>
        </div>
        <div class="order-page-title">
            <p>Harvested Orders</p>
        </div>
        <div class="orders-list-info rubik">
            <p>&nbsp;{{ordersList.length}} Orders</p>
            <div class="scroll" (click)="scrollDiv()">
                <p>View More</p>
                <!-- <img src="../../../assets/Pictures/arrow.png"> -->
            </div>
        </div>
        <div class="orders-list" #orderScroll>
            <div *ngFor="let order of ordersList; let ind = index" class="orders">
                <div *ngFor="let item of order.OrderItems; let i = index" (click)="ViewReceipt(order.OrderId, order.OrderStatus)" class="order rubik">
                    <div class="order-top">
                        <p>ID&nbsp;</p>
                        <a>{{order.OrderId.split('-').pop()}}</a>
                    </div>
                    <div class="order-context">
                        <div class="order-middle">
                            <div class="order-middle-top" (click)="ViewProduct(item.ProductId!)">
                                <div class="order-image">
                                    <img src="{{item?.Image?? 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Mangos_-_single_and_halved.jpg/1280px-Mangos_-_single_and_halved.jpg'}}">
                                </div>
                                <div class="order-info">
                                    <a class="single-line">{{item.ProductTitle}}</a>
                                    <p>{{order.OrderDate}}</p>
                                </div>
                            </div>
                            <div class="order-middle-bottom">
                                <div class="order-status" *ngIf="order.OrderStatus == 'AwaitingPayment'" style="color: orange;background-color: rgba(255, 166, 0, 0.235);">
                                    AWAITING
                                </div>
                                <div class="order-status" *ngIf="order.OrderStatus == 'Paid'" style="color:cornflowerblue;background-color: rgba(100, 148, 237, 0.235)">
                                    PAID
                                </div>
                                <div class="order-status" *ngIf="order.OrderStatus == 'Pending'" style="color: orange;background-color: rgba(255, 166, 0, 0.235);">
                                    PENDING
                                </div>
                                <div class="order-status" *ngIf="order.OrderStatus == 'Shipped'" style="color: purple;background-color: rgba(128, 0, 128, 0.235);">
                                    SHIPPED
                                </div>
                                <div class="order-status" *ngIf="order.OrderStatus == 'Delivered'" style="color: green;background-color: rgba(3, 99, 3, 0.235);">
                                    DELIVERED
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="order-bottom">
                            <p class="single-line">{{order.ShippingAddress}}</p>
                            <p>₹{{item.TotalPrice}}</p>
                        </div>
                    </div>
                    <div class="review-container rubik" *ngIf="!item.IsReviewed && order.OrderStatus == 'Delivered'" (click)="$event.stopPropagation()" style="display: flex;flex-direction: column;">
                        <input type="text" [(ngModel)]="item.Title" placeholder="Review Title" class="review-title rubik">
                        <textarea placeholder="Review" [(ngModel)]="item.Review" class="rubik review-text"></textarea>
                            <div class="rating-container">
                                <div class="stars">
                                    <span *ngFor="let star of [1, 2, 3, 4, 5]; let revIndex = index" (click)="setRating(revIndex + 1, ind, i)" [class.selected]="revIndex < item.Rating!" class="star">
                                        ★
                                    </span>
                                </div>
                            </div>
                        <button class="submit-button rubik" (click)="ValidatePostReviewData(item, i, ind)">Submit</button>
                    </div>
                    <div *ngIf="item.IsReviewed && order.OrderStatus == 'Delivered'" class="review-container rubik" >
                        <div class="review-summary">
                            <p>Thank You for Your Review!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!ordersList.length" class="empty roboto-regular">
        <img src="../../../assets/Pictures/MangoTrees's box.png">
        <p>No orders have been placed. Begin your mango experience today. 🌟</p>
    </div>

    <div>
        <app-footer></app-footer>
    </div>

</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>