<div class="customer-profile-page">
    
    <app-nav-bar [navBarData]="navBarData" (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <div class="customer-profile roboto-regular">
        <div class="customer-profile-context">
            <div class="orders blur">
                <div class="orders-image">
                    <img src="../../../assets/Pictures/orders.png">
                </div>
                <div class="order-context">
                    <p>Your Orders</p>
                    <p class="desc">View placed orders</p>
                </div>
            </div>
            <div class="security blur">
                <div class="security-image">
                    <img src="../../../assets/Pictures/profile.png">
                </div>
                <div class="security-context">
                    <p>Profile</p>
                    <p class="desc">Edit Personal details</p>
                </div>
            </div>
            <div class="address blur">
                <div class="address-image">
                    <img src="../../../assets/Pictures/location.png">
                </div>
                <div class="address-context">
                    <p>Your addresses</p>
                    <p class="desc" style="padding-left: 21px !important;">Edit addresses</p>
                </div>
            </div>
            <div class="contact-us blur">
                <div class="contact-us-image">
                    <img src="../../../assets/Pictures/chat.png">
                </div>
                <div class="contact-us-context">
                    <p>Contact Us</p>
                    <p class="desc">Available:&nbsp; 9:00 AM – 7:00 PM</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>
</div>