<div class="page" [class.hide]="loader">
    <div class="signup-page">
        <form class="blur" [formGroup]="SignInForm" (ngSubmit)="SignUp()">
            <div class="name">
                <input type="text" placeholder="First Name" class="roboto-bold" [class.red]="SignInForm.get('FirstName')?.errors && SignInForm.get('FirstName')?.touched" formControlName="FirstName">
                <input type="text" placeholder="Last Name" class="roboto-bold" [class.red]="SignInForm.get('LastName')?.errors && SignInForm.get('LastName')?.touched" formControlName="LastName">
            </div>
            <input type="text" placeholder="Phone Number" maxlength="10" class="roboto-bold" [class.red]="SignInForm.get('PhoneNumber')?.errors && SignInForm.get('PhoneNumber')?.touched" formControlName="PhoneNumber">
            <input type="email" placeholder="Email (Optional)" class="roboto-bold" [class.red]="SignInForm.get('Email')?.errors && SignInForm.get('Email')?.touched" formControlName="Email">
            <div class="password">
                <input type="text" placeholder="User Name" class="roboto-bold" [class.red]="SignInForm.get('UserName')?.errors && SignInForm.get('UserName')?.touched" formControlName="UserName">
                <input type="text" placeholder="Password" class="roboto-bold" [class.red]="SignInForm.get('Password')?.errors && SignInForm.get('Password')?.touched" formControlName="Password">
            </div>
            <div class="address" formGroupName="AddressDesc">
                <div class="row">
                    <input type="text" placeholder="Address" class="roboto-bold" [class.red]="SignInForm.get('AddressDesc.Address')?.errors && SignInForm.get('AddressDesc.Address')?.touched" formControlName="Address">
                    <input type="text" placeholder="Pincode" maxlength="6" class="roboto-bold" [class.red]="SignInForm.get('AddressDesc.Pincode')?.errors && SignInForm.get('AddressDesc.Pincode')?.touched" formControlName="Pincode">
                </div>
                <div class="row">
                    <input type="text" placeholder="City" class="roboto-bold" [class.red]="SignInForm.get('AddressDesc.City')?.errors && SignInForm.get('AddressDesc.City')?.touched" formControlName="City">
                    <input type="text" placeholder="State" class="roboto-bold" [class.red]="SignInForm.get('AddressDesc.State')?.errors && SignInForm.get('AddressDesc.State')?.touched" formControlName="State">
                </div>
            </div>
            <input type="text" placeholder="Occupation" class="roboto-bold" [class.red]="SignInForm.get('Occupation')?.errors && SignInForm.get('Occupation')?.touched" formControlName="Occupation">
            <div class="terms roboto-regular-italic " style="display: flex;">
                <input type="checkbox" formControlName="Conditions">
                <p>terms & conditions</p>
            </div>
            <div style="text-align: center;" [class.disabled]="!SignInForm.get('Conditions')?.value" [attr.aria-disabled]="SignInForm.get('Conditions')?.value">
                <button type="submit" class="roboto-bold"><p style="margin: 0px;">Sign up</p></button>
            </div>
        </form>
    </div>
</div>

<div [class.hide]="!(loader)">
    <app-loader></app-loader>
</div>

<h1 class="roboto-regular">Please Use a Bigger Screen 🙏</h1>