<div class="forgot-password-page">

    <div class="forgot-password-page-context">
        <form [formGroup]="passwordForm" (ngSubmit)="SubmitResetPasswordOTP()" class="forgot-password-context">
            <div class="forgot-password-fields rubik">
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="PhoneNumber">
                        <span>Phone Number</span> 
                    </label>
                    <input class="forgot-password-text-input" [class.red]="passwordForm.get('PhoneNumber')?.invalid && passwordForm.get('PhoneNumber')?.touched" formControlName="PhoneNumber" maxlength="10" id="PhoneNumber" type="text">
                </div>
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="Password">
                        <span>Password</span> 
                    </label>
                    <input class="forgot-password-text-input" [class.red]="passwordForm.get('Password')?.invalid && passwordForm.get('Password')?.touched" formControlName="Password" id="Password" type="password">
                </div>
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="ReEnterPassword">
                        <span>Re-enter Password</span> 
                    </label>
                    <input class="forgot-password-text-input" [class.red]="passwordForm.get('ReEnterPassword')?.invalid && passwordForm.get('ReEnterPassword')?.touched" formControlName="ReEnterPassword" id="ReEnterPassword" type="password">
                </div>
            </div>
            <button type="submit" class="forgot-password-button rubik" type="submit"><p>Reset Password</p></button>
        </form>
    </div>

</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>
<div *ngIf="popPage">
    <app-pop-page [pageToDisplay]="'otp'"  (data)="popPageData($event)" (close)="ClosePopPage($event)"></app-pop-page>
</div>