.forgot-password-page{
    min-height: 100% !important;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.forgot-password-page-context{
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1D2A26;
    background-size: 150px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url('../../../../assets/Pictures/signupPage.png');
}
.forgot-password-context{
    width: 100%;
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-fields{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.forgot-password-text{
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.forgot-password-text-input_label{
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    color: hsla(0, 0%, 98%, 0.95);
    user-select: none;
    -webkit-user-select: none;
}
.forgot-password-text-input{
    height: 23px;
    width: 166px;
    padding: 8px 14px;
    margin-bottom: 28px;
    display: flex;
    font-weight: 500;
    border-radius: 3px;
    -webkit-box-align: center;
    color: #1D2A26;
    border: 1px solid hsla(0, 0%, 100%, .3);
}
.forgot-password-button{
    height: 40px;
    width: 80%;
    max-width: 650px;
    margin-bottom: 48px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    background-color: #F4BB53;
    transition: 0.3s;
}
.forgot-password-button:hover{
    background-color: #f3a90a;
}
.forgot-password-button:active{
    transform: scale(0.98);
}
.forgot-password-button p{
    height: fit-content;
    margin: 0px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
}








@media (max-width: 555px){
    .forgot-password-text{
        padding-inline: 10px;
    }
    .forgot-password-fields{
        padding-inline: 10px;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }
    .forgot-password-context{
        max-width: 100%;
    }
    .forgot-password-button{
        margin-bottom: 160px;
    }
}