<div class="forgot-password-page">

    <div class="forgot-password-page-context">
        <div class="forgot-password-context">
            <div class="forgot-password-fields rubik">
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="PhoneNumber">
                        <span>Phone Number</span> 
                    </label>
                    <input class="forgot-password-text-input" id="PhoneNumber" type="text">
                </div>
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="PhoneNumber">
                        <span>Password</span> 
                    </label>
                    <input class="forgot-password-text-input" id="PhoneNumber" type="text">
                </div>
                <div class="forgot-password-text">
                    <label class="forgot-password-text-input_label" for="PhoneNumber">
                        <span>Re-enter Password</span> 
                    </label>
                    <input class="forgot-password-text-input" id="PhoneNumber" type="text">
                </div>
            </div>
            <button (click)="resetPassword()" class="forgot-password-button rubik" type="submit"><p>Reset Password</p></button>
        </div>
    </div>

</div>

<div *ngIf="popPage">
    <app-pop-page [pageToDisplay]="'otp'"  (data)="popPageData($event)" (close)="ClosePopPage($event)"></app-pop-page>
</div>