<div class="information-page">

    <app-nav-bar (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>


    <div class="information-context roboto-regular">
        <div class="information-title rubik">
            <p>{{DataList.InformationTitle}}</p>
        </div>
        <div class="information">
            <div *ngFor="let information of DataList.Details" class="div-information rubik">
                <div class="div-information-title">
                    <p>{{information.Title}}</p>
                </div>
                <div class="div-information-context">
                    <p>{{information.Description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>

</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>