<div class="customer-address-page">

    <app-nav-bar (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <div class="customer-details roboto-regular"> 
        <div class="ordered-list">
            <a routerLink="../profile">Your Account </a>
            <a routerLink="../profile">></a>
            &nbsp;
            <a>Addresses</a>
        </div>
        <div class="customer-address-title">
            <p>Select Address</p>
        </div>
        <div class="customer-address-context">
            <div class="customer-address-values blur" style="cursor: pointer;background-color: #f0fff4;" (click)="addAddressClicked()">
                <p class="add-address">
                    +
                </p>
            </div>
            <div *ngFor="let address of addressesList; let i = index" class="customer-address-values blur">
                <p class="customer-address"><a style="margin: 0px;">{{addressesList[i].AddressTitle}}</a> <br> {{addressesList[i].Address}}, {{addressesList[i].City}}, {{addressesList[i].State}} {{addressesList[i].Pincode}}</p>
                <hr>
                <div class="buttons-div">
                    <div class="edit-button blur" (click)="editButtonClicked(i)" [class.disabled]="!addressesList[i].IsEditable">
                        <p>Edit</p>
                    </div><div class="delete-button blur" (click)="deleteButtonClicked(i)" [class.disabled]="!addressesList[i].IsDeleteable">
                        <p>Delete</p>
                    </div>
                    <div [class.disabled_2]="addressesList[i].IsPrimary">
                        <div class="set-button blur" [class.disabled]="addressesList[i].IsPrimary" (click)="setPrimaryButtonClicked(i)">
                            <p>Set as Primary</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>

</div>

<div *ngIf="popPage">
    <app-pop-page [addressData]="addressData" [pageToDisplay]="'address-update'"  (data)="popPageData($event)" (close)="ClosePopPage($event)"></app-pop-page>
</div>
<div *ngIf="loader">
    <app-loader></app-loader>
</div>

