<div class="signup-page">

    <div class="signup-page-context roboto-regular">
        <div class="signup-context">
            <div class="signup-fields rubik">
                <div class="signup-text">
                    <label class="signup-text-input_label" for="FirstName">
                        <span>First Name</span> 
                    </label>
                    <input class="signup-text-input" id="FirstName" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="LastName">
                        <span>Last Name</span> 
                    </label>
                    <input class="signup-text-input" id="LastName" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="PhoneNumber">
                        <span>Phone Number</span> 
                    </label>
                    <input class="signup-text-input" id="PhoneNumber" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Email">
                        <span>Email (Optional)</span> 
                    </label>
                    <input class="signup-text-input" id="Email" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="UserName">
                        <span>User Name</span> 
                    </label>
                    <input class="signup-text-input" id="UserName" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Password">
                        <span>Password</span> 
                    </label>
                    <input class="signup-text-input" id="Password" type="password">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Address">
                        <span>Address</span> 
                    </label>
                    <textarea class="signup-textarea-input" id="Address"></textarea>
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Pincode">
                        <span>Pincode</span> 
                    </label>
                    <input class="signup-text-input" id="Pincode" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="City">
                        <span>City</span> 
                    </label>
                    <input class="signup-text-input" id="City" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="State">
                        <span>State</span> 
                    </label>
                    <input class="signup-text-input" id="State" type="text">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Occupation">
                        <span>Occupation</span> 
                    </label>
                    <input class="signup-text-input" id="Occupation" type="password">
                </div>
                <div class="signup-text">
                    <label class="signup-text-input_label" for="Occupation">
                        <span>Occupation</span> 
                    </label>
                    <input class="signup-text-input" id="Occupation" type="password">
                </div>
            </div>
            <button class="signup-button " type="submit"><p>Sign up</p></button>
        </div>
    </div>

</div>