.product-page{
    height: 100% !important;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.blur{
    border-radius: 12px;
    border: 1.5px solid rgb(237, 237, 237);
}



.product-view-top{
    width: 100%;
    margin-top: 65px;
    /* color: #565959; */
    color: #565959d0;
}
.product-view-top div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-inline: 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.title{
    padding-top: 10px;
    margin: 0px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", serif;
}
.stars{
    padding-top: 0px !important;
    padding-bottom: 4px;
    padding-inline: 5px;
    color: goldenrod;
}
.star{
    margin: 0px;
    font-size: 16px;
    border-width: 10px;
    border-color: red;
}


.product-view-middle{
    height: fit-content;
    padding-inline: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.product-image-view{
    height: 575px;
    width: calc(100% - 350px);
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: aquamarine;
    /* background-image: url("../../../assets/Pictures/Screenshot\ 2024-07-02\ 223503.jpg");
    background-size:contain; 
    background-repeat: no-repeat; 
    background-position: right; */
}
.product-image-list{
    height: calc(100% - 34px);
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* background-color: #888; */
}
.product-images{
    min-height: 45px;
    min-width: 45px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    border: 3px solid transparent;
    background-color: #007185;
}
.product-images:active, .product-images:hover{
    border: 3px solid black;
}

.product-image-large-view{
    width: 100%;
    background-color: rgb(107, 218, 181);
}



.product-payment-view{
    height: 575px;
    width: 333px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}


.product-payment-view-top{
    height: fit-content;
    padding: 17px;
    border-radius: 12px;
    background-color: white;
}

.select-product-payment{
    float: right;
}
.select-product-payment input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    outline: none;
}
.select-product-payment input:checked{
    box-shadow: 0 0 5px green;
    transition: box-shadow 0.3s ease;
}
.select-product-payment input::before{
    width: 60%;
    height: 60%;
    content: '';
    display: block;
    text-align: center;
    margin: 20% auto;
    border-radius: 50%;
}
.select-product-payment input:checked::before{
    background: green;
}

.price-desc{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}
.price-desc .deal{
    height: 12%;
    width: fit-content;
    max-width: 66%; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-inline: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    color: white;
    background-color: #cc0c39;
}
.default-deal-title{
    height: 12%;
    width: fit-content; 
    display: flex;
    max-width: 66%; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-inline: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-right: 10px solid transparent;
    border-bottom-right-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    user-select: none;
    color: white;
    background-color: #2d413b;
}
.price-desc .price{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}
.price-desc .price div{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.price-desc .price div .discount{
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    align-content: baseline;
    padding-right: 10px;
    color: #cc0c39;
}
.Symbol{
    font-size: 13px;
    margin: 0px;
    margin-top: 5.5px;
    padding-top: 2px;
}
.price-desc .price .old-price{
    font-size: 13px;
    text-decoration: line-through;
}




.delivery-location{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.delivery-location span{
    font-size: 18px;
    font-weight: 750;
    margin-left: -3.6px;
    margin-right: 4px;
    user-select: none;
}
.delivery-location P{
    max-width: 100%;
    width: fit-content;
    font-size: 14px;
    font-weight: 420;
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
    color: #007185;
}



.use-by{
    margin-top: 7px;
    line-break: 3px;
    font-size: 12.5px;
}
.use-by p{
    margin: 0px;
    margin-bottom: 2px;
}



.in-stock{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 418;
    user-select: none;
    color: #007600 !important;
}


.quantity{
    margin-top: 16px;
    margin-bottom: 5px;
    margin-left: -2px;
    box-shadow: black;
}
select {
    height: 26px; 
    width: 70px; 
    padding-inline: 6px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 12px;
    text-align: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    background-color: #f3f3f3; 
    user-select: none;
    color: #333;
}
option[value=""] {
    color: #888;
}
option:disabled {
    color: #aaa; 
    background-color: #f9f9f9; 
}



.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    color: white;
}
.top-button{
    height: 40px;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    border-radius: 24px;
    outline: 0px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s; 
    background-color: #617953;
}
.top-button:active{
    background-color: #576d4a;
    transform: scale(0.95);
    transition: 0.5s;
}
.top-button p{
    margin: 0px;
    text-align: center;
}
.bottom-button{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 24px;
    outline: 0px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s; 
    background-color: #263121;
}
.bottom-button:active{
    background-color: #303d29;
    transform: scale(0.95);
    transition: 0.5s;
}
.bottom-button p{
    margin: 0px;
    text-align: center;
}



.product-payment-view-bottom{
    height: fit-content;
    padding: 17px;
}

.delivery-title{
    user-select: none;
    margin-top: 5px;
    color: #1119;
}
.delivery-location-bottom{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.delivery-location-bottom span{
    user-select: none;
    font-size: 16px;
    font-weight: 750;
    margin-left: -3.6px;
    margin-right: 5px;
}
.delivery-location-bottom P{
    max-width: 100%;
    width: fit-content;
    font-size: 12px;
    font-weight: 420;
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
    color: #007185;
}





.product-review-view{
    min-height: 450px;
    width: calc(100%-20px);
    margin-inline: 10px;
    margin-bottom: 10px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
}
.product-review-view h3{
    text-align: center;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.product-review-list{
    height: fit-content;
    max-height: 924px;
    width: 100%;
    max-width: 600px;
    padding-top: 16px;
    padding-bottom: 6px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #f3f3f385;
}
.product-review{
    padding-inline: 10px;
    margin-bottom: 24px;
    /* background-color: beige; */
}
.product-review h5{
    width: fit-content;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    font-weight: 600;
}
.reviews-stars{
    padding-top: 0px !important;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    color: goldenrod;
}
.star{
    user-select: none;
    margin-top: -4px;
}
.reviews-stars h6{
    width: 250px;
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
    color: black;
}
.product-review-date{
    font-size: 12px;
    font-weight: 300;
}
.product-review-content{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
}






.single-line-ellipsis {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;
}
.multi-line-ellipsis{
    overflow: hidden;                
    display: -webkit-box;           
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 3;           
    text-overflow: ellipsis;       
}   
@media (max-width: 550px){
    .title{
        font-size: 12px;
    }
    .stars{
        padding-bottom: 5px;
    }
    .star{
        font-size: 14px;
    }
    .product-view-top div{
        font-size: 12px;
    }
}
@media (max-width: 450px){
    .title{
        font-size: 10px;
    }
    .stars{
        padding-bottom: 4px;
    }
    .star{
        font-size: 12px;
    }
    .product-view-top div{
        font-size: 10px;
    }
}
@media (max-width: 750px){
    .product-view-middle{
        display: flex;
        flex-direction: column;
    }


    .product-image-view{
        height: 600px;
        width: 100%;
        margin-bottom: 15px;
    }
    .product-payment-view{
        align-self: center;
    }
}
@media (max-width: 874px){
    .product-view-top{
        margin-top: 121px;
    }
}
@media (max-width: 1025px){
    .product-image-view{
        flex-direction: column;
    }
    .product-image-list{
        height: 100px;
        width: calc(100% - 34px);
        flex-direction: row;
        order: 2;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-inline: 17px;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .product-images{
        margin-bottom: 0px;
        margin-right: 16px;
    }


    .product-image-large-view{
        height: 100%;
    }
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20 
}
