<div class="customer-personal-details-page">

    <app-nav-bar [navBarData]="navBarData" (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <form class="customer-details roboto-regular" [formGroup]="customerDetailsForm"> 
        <div class="ordered-list">
            <a routerLink="../profile">Your Account </a>
            <a routerLink="../profile">></a>
            &nbsp;
            <a>Personal Details</a>
        </div>
        <div class="customer-details-title">
            <p>Edit Details</p>
            <img *ngIf="Editable" style="max-height: 14px;float: right;" src="../../../assets/Pictures/edit.png">
        </div>
        <div class="customer-details-context blur">
            <div class="customer-details-values">
                <p>Name : </p>
                <input type="text" [class.red]="customerDetailsForm.get('Name')?.errors" formControlName="Name">
            </div>
            <hr>
            <div class="customer-details-values">
                <p>Phone Number : </p>
                <input type="number" [class.red]="customerDetailsForm.get('PhoneNumber')?.errors" formControlName="PhoneNumber">
            </div>
            <hr>
            <div class="customer-details-values">
                <p>Email : </p>
                <input type="email" [class.red]="customerDetailsForm.get('Email')?.errors" formControlName="Email">
            </div>
            <hr>
            <div class="customer-details-values">
                <p>Password : </p>
                <input type="password" [class.red]="customerDetailsForm.get('Password')?.errors" formControlName="Password">
            </div>
        </div>
        <div class="buttons-div">
            <div [class.disabled_2]="Editable">
                <div class="edit-button blur" (click)="editButtonClicked()" [class.disabled]="Editable">
                    <p>Edit</p>
                </div>
            </div>
            <div [class.disabled_2]="!Editable">
                <div class="save-button" (click)="saveButtonClicked()" [class.disabled]="!Editable">
                    <p>Save</p>
                </div>
            </div>
        </div>
        <button type="submit" (click)="saveButtonClicked()" style="display: none;"></button>
    </form>

    <!-- <div>
        <app-footer></app-footer>
    </div> -->

</div>