.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dice-select{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    height: 10%;
}
.dice-select button{
    height: 25px;
    width: 125px;
    margin-top: 25%;
    margin-inline: 3px;
    border-width: 0px;
    border-radius: 3px;
    color: white;
    background-color: rgb(8, 119, 229);
    transition: 1s;
}
.dice-select button:hover{
    margin-inline: 18px;
    transform: scale(1.2);
    color: brown;
    background-color: lightskyblue;
    transition: 1s;
}


.dice-view{
    /* background-color: beige; */
    width: 35%;
    height: 25%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dice img{
    width: 120px;
    margin-inline: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.dice img:hover{
    transform: scale(1.2);
    transition: 1s;
}


.roll{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.roll-button{
    height: 35px;
    width: 125px;
    margin-top: 45%;
    align-items: center;
    background-color: rgb(7, 174, 135);
    color: white;
    border: 0;
    border-radius: 3px;
    font-weight: bolder;
    transition: 1s;
}