<div class="page roboto-regular">
    <div class="dice-select">
        <button (click)="changeDiceList(1)">1</button>
        <button (click)="changeDiceList(2)">2</button>
        <button (click)="changeDiceList(3)">3</button>
    </div>
    <div class="dice-view">
        <div class="dice rotate" *ngFor="let item of DiceList">
            <img src="../../assets/Pictures/{{item}}.png" alt="Loading ...">
        </div>
    </div>
    <div class="roll">
        <button class="roll-button" (click)="random()">{{Roll}}</button>
    </div>
</div>