.page{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/Pictures/dice.jpg');
    background-size: contain;
}


.dice-select{
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.dice-select button{
    height: 25%;
    width: 125px;
    margin-top: 25%;
    margin-inline: 3px;
    border-width: 0px;
    border-radius: 3px;
    color: white;
    background-color: rgb(8, 119, 229);
    transition: 1s;
}
.dice-select button:hover{
    margin-inline: 18px;
    transform: scale(1.2);
    color: brown;
    background-color: lightskyblue;
    cursor: pointer;
    transition: 1s;
}


.dice-view{
    width: fit-content;
    height: 25%;
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dice{
    /* background-color: #0fd2e4; */
    background-color: white;
    max-height: 125px;
    max-width: 125px;
    margin-inline: 5px;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s; 
}
.dice:hover{
    transform: scale(1.2);
    margin-inline: 12px;
    transition: 1s; 
}
.rotate {
    animation: rotateAnimation 2s; 
}
.dice img{
    height: 100%;
    width: 100%;
    display: block;
}


.roll{
    display: flex;
    justify-content: center;
}
.roll-button{
    height: 55%;
    width: 125px;
    margin-top: 45%;
    align-items: center;
    background-color: rgb(7, 174, 135);
    color: white;
    border: 0;
    border-radius: 3px;
    font-weight: bolder;
    transition: 1s;
}
.roll-button:hover{
    cursor: pointer;
    background-color: rgb(5, 133, 103);
}



@media (max-width: 800px) {
    .dice-select{
        margin-bottom: 25px;
    }
    .dice-select button{
        height: 25px;
        width: 99px;
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}