<div class="cart-page roboto-regular">

    <app-nav-bar (redirectTo)="RedirectTo($event)" (search)="Search($event)"></app-nav-bar>

    <div class="cart" *ngIf="CartList.length!=0">
        <div class="cart-page-component">
            <!-- <div class="cart-title">
                <p>Mango Collection</p>
            </div> -->
            <div class="cart-items">
                <div class="cart-items-info rubik">
                    <p>{{CartList.length}} Items Ready for Delivery</p>
                    <div class="clear-cart">
                        <img src="../../../assets/Pictures/bin.png">
                        <p (click)="clearCart()">&nbsp;Clear cart</p>
                    </div>
                </div>
                <div *ngFor="let item of CartList; let i = index" class="items">
                    <div class="items-info">
                        <img src="{{item.ItemImage}}">
                        <div>
                            <p class="multi-line-4 rubik">{{item.ItemTitle}}</p>
                        </div>
                    </div>
                    <div style="width: 50%;display: flex;justify-content: space-around;">
                        <div style="display: grid;">
                            <div class="item-count blur">
                                <p (click)="countDecrease(i)" style="font-weight: 900;">-</p>
                                <a>{{item.ItemCount}}</a>
                                <p [class.disabled]="item.ItemCount >= item.ItemMaxCount" (click)="countIncrease(i)">+</p>
                            </div>
                        </div>
                        <div class="item-price rubik">
                            <p>₹{{item.ItemPrice}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="special-request" (click)="SpecialRequestButtonClicked()">
                        <p class="multi-line-4 rubik blur" style="padding: 5px;margin: 0px;">Special requests</p>
                    </div>
                    <div class="special-request-input" *ngIf="specialRequest" (focusout)="SpecialRequestButtonClicked()">
                        <input type="text" placeholder="Type your requests" [(ngModel)]="Notes">
                    </div>
                </div>
            </div>
    
            <div class="to-add-more rubik">
                <p>Missed Something?</p> 
                <p routerLink="../home" style="color: orangered;cursor: pointer;">Add more items</p> 
            </div>
        </div>

        <div class="div-continue-button">
            <div class="continue-button-outer">
                <p class="rubik" style="color: gray;">Need more info from you ⓘ</p>
                <div class="continue-button serif" (click)="ContinueButtonClicked()">
                    <p>Continue</p>
                </div>
            </div>
        </div>
    </div>

    <div class="empty-cart" *ngIf="CartList.length==0">
        <div>
            <img src="../../../assets/Pictures/empty_cart.png">
        </div>
        <div>
            <p class="empty-cart-title">Your cart is feeling empty</p>
            <p class="empty-cart-desc">Fill it up with all good things!</p>
        </div>
        <div routerLink="../home" class="start-shopping">
            <p>Start Shopping</p>
        </div>
    </div>


</div>

<div *ngIf="loader">
    <app-loader></app-loader>
</div>