.back-page{
    z-index: 600;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B3F39;
}


.rotating-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rotating-image {
    width: 150px;
    height: auto;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
  