.page{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../assets/Pictures/signupPage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: right;
    background-color: white;
}
h1{
    display: none;
    padding: 25%;
    text-align: center;
    font-size: small;
}

.reset-password-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.blur{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: -5%;
    margin-left: -10%;
    border-radius: 10px;
    border: 2px solid rgb(237, 237, 237);
    background-color: rgba(255, 255, 255, 0.42);
}

.blur input{
    height: 40px;
    width: 16em;
    margin-right: 0px !important;
    padding-inline: 11px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(255, 192, 203);
}
.blur input::-webkit-inner-spin-button, 
.money input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input{
    text-align: center;
    margin-bottom: 5px !important;
}

button{
    height: 2.8em;
    width: 17.5em;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    background-color: rgb(241, 130, 167);
    transition: 0.5s;
}
button:hover{
    transition: 0.5s;
}
button:active {
    transition: 0.5s;
    transform: scale(0.95);
    background-color: rgb(237, 55, 116);
}


.hide{
    display: none;
}
.red{
    color: orangered;
}

@media (max-width: 1100px) {
    .page{
        background-image: url('../../../assets/Pictures/signupPage-mobile.png');
        background-size: 50%;
        transition: 1s;
    }
}
@media (max-width: 750px){
    .blur input{
        width: 12em;
    }
    button{
        height: 2.5em;
        width: 13.5em;
    }
}
@media (max-width: 600px){
    .page{
        background-image: url('../../../assets/Pictures/signupPage-mobile.png');
        background-size: 75%;
        transition: 1s;
    }
}
@media (max-width: 500px){
    .blur{
        margin-top: -25%;
        margin-left: 0px;
    }
}
@media (max-width: 314px){
    h1{
        display: flex;
    }
    .page{
        display: none;
    }
}