.page{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../assets/Pictures/signupPage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: right;
    background-color: white;
}
