<div class="page roboto-regular" [class.hide]="loader">
    <div class="reset-password-page">
        <form class="blur" [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword()">
            <input type="text" maxlength="10" placeholder="Phone Number" class="input roboto-bold" [class.red]="ResetPasswordForm.get('Conditions')?.errors && ResetPasswordForm.get('Conditions')?.touched" formControlName="PhoneNumber">
            <input type="password" placeholder="New Password" class="input roboto-bold" [class.red]="ResetPasswordForm.get('Password')?.errors && ResetPasswordForm.get('Password')?.touched" formControlName="Password">
            <input type="password" placeholder="Re-Enter Password" class="input roboto-bold" [class.red]="ResetPasswordForm.get('Password')?.value != ResetPasswordForm.get('Re_Password')?.value" formControlName="Re_Password">
            <div style="text-align: center;" [class.disabled]="!ResetPasswordForm.get('Conditions')?.value">
                <button type="submit" class="roboto-bold"><p style="margin: 0px;">Reset</p></button>
            </div>
        </form>
    </div>
</div>

<div [class.hide]="!loader">
    <app-loader></app-loader>
</div>

<h1 class="roboto-regular">Please Use a Bigger Screen 🙏</h1>