<div class="full" [class.hide]="loader">
    <form class="login-page roboto-regular" [formGroup]="LoginForm" (ngSubmit)="LogIn()">
        <div class="login">
            <input type="text" placeholder="Username" class="roboto-regular" [class.red]="LoginForm.get('UserName')?.errors && LoginForm.get('UserName')?.touched" formControlName="UserName">
            <input type="password" placeholder="Password" class="roboto-regular" [class.red]="LoginForm.get('Password')?.errors && LoginForm.get('Password')?.touched" formControlName="Password">
            <input type="text" *ngIf="ShowCode" placeholder="*Enter you Code" class="roboto-regular" formControlName="SecretKey">
            <div class="code">
                <a (click)="SecretCode()" style="float: right;" *ngIf="!ShowCode">---</a>
            </div>
            <button type="submit" class="roboto-light">Login</button>
            <div class="other">
                <a routerLink="/repassword">Reset-Password</a>
                <a style="color: black;"> / </a>
                <a routerLink="/signup">Sign-Up</a>
                <a style="color: black;"> / </a>
                <a routerLink="/home">Enter-as-Guest</a>
            </div>
        </div>
    </form>
</div>
<div [class.hide]="!(loader)">
    <app-loader></app-loader>
</div>
<h1 class="roboto-regular">Please Use a Bigger Screen 🙏</h1>