<div class="login-page">

    <div class="login-page-context roboto-regular">
        <div class="login-context">
            <div class="login-context-left ">
                <p>Nurturing the finest, for a future of flavor.</p>
                <div class="home-div">
                    <div routerLink="../home" class="home-div-button rubik">
                        <a>Discover all our mangoes</a>
                    </div>
                </div>
            </div>
            <div class="login-context-right">
                <div class="signin">
                    <h1 class="logo">
                        <img src="../../../assets/Pictures/MangoTrees-logo.png">
                    </h1>
                    <form style="width: 80%;">
                        <div class="login-text">
                            <label class="login-text-input_label" for="Username">
                                Email/ Phone-number
                                <span>or Username</span> 
                            </label>
                            <input class="login-text-input" id="Username" type="text">
                        </div>
                        <div class="login-text">
                            <label class="login-text-input_label" for="Password">
                                <span>Password</span> 
                            </label>
                            <input class="login-text-input" id="Password" type="password">
                        </div>
                        <button class="login-button rubik" type="submit"><p>Sign in</p></button>
                    </form>
        
                    <div class="links rubik">
                        <a class="home" routerLink="/home">Enter as Guest</a>
                        <a class="ForgotPassword" routerLink="/ForgotPassword">Forgot password?</a>
                    </div>
        
                    <hr class="bar">
        
                    <div routerLink="../signup" class="create-account rubik">
                        <p>Create an account</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            © 2024 MangoTrees. All rights reserved
        </div>
    </div>

</div>