.collections-page{
    min-height: 100% !important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.collections-page-content{
    height: fit-content;
    width: calc(100% - 34px);
    max-width: 1200px;
    padding-inline: 17px;
    margin: auto;
    margin-top: 60px;
}

.collections-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 55px;
}
.collections-title a{
    font-size: 36px;
    font-weight: 300;
    color: #d38f02;
    word-break: break-word;
}
.collections-title p{
    max-width: 1111px;
    margin: auto;
    margin-top: 24px;
    font-size: 14px;
    color: gray;
}


.collections-filter{
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    /* border: rgb(176, 174, 174) 1px dashed; */
    /* background-color: antiquewhite; */
}

.filter-left{
    display: flex;
}

.availability{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #eeeeee81;
}
.availability:active {
    box-shadow: 0 0 1px rgba(49, 37, 16, 0.5);
}
.availability-title{
    color: #d38f02;
}
.availability-title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.availability-title svg{
    height: 20px;
    width: 20px;
    margin-left: -5px;
    margin-bottom: -6px;
}
.availability-content div{
    width: 250px;
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}
.availability-content div ul{
    list-style: none;
}
.availability-content div ul li{
    margin-bottom: 10px;
    font-weight: 300;
}
.facet-checkbox {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    background-color: white;
}
input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border: none;
}
input[type="checkbox"]:hover {
    border-color: #888;
}
.price{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-radius: 3px;
    background-color: #eeeeee81;
}
.price:active {
    box-shadow: 0 0 1px rgba(49, 37, 16, 0.5);
}
.price-title{
    margin-left: 10px;
    color: #d38f02;
}
.price-title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.price-title svg{
    height: 20px;
    width: 20px;
    margin-left: -5px;
    margin-bottom: -6px;
}
.price-content-div{
    height: fit-content;
    width: fit-content;
    min-width: 250px;
    position: absolute;
    margin-top: 10px;
    padding: 17px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}
.price-content-info p{
    text-align: center;
    padding-inline: 17px;
    /* margin-top: 0px; */
    font-weight: 300;
}
.price-content-info-content{
    padding: 5px;
    padding-inline: 0px;
    display: flex;
    justify-content: space-evenly;
}
.price-content-from{
    align-items: center;
    display: flex;
    justify-content: baseline;
    font-size: 14px;
}
.price-content-from p{
    height: fit-content;
    margin: 0px;
    text-align: center;
}
.price-content-from input{
    height: fit-content;
    border: none;
    background: transparent;
    padding: 5px;
    width: 100%;
    outline: none;
}
.price-content-to{
    align-items: center;
    display: flex;
    justify-content: baseline;
    font-size: 14px;
}
.price-content-to p{
    height: fit-content;
    margin: 0px;
    text-align: center;
}
.price-content-to input{
    height: fit-content;
    border: none;
    background: transparent;
    padding: 5px;
    width: 100%;
    outline: none;
}

.filter-right{
    display: flex;
}

.sort-by{
    display: flex;
}
.sort-by select{
    width: fit-content;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #d38f02;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
    border: none;
    border-radius: 3px;
    background-color: #eeeeee81;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "DM Serif Display", serif;
}
.sort-by select:hover {
    border-color: #888;
}
.sort-by select:focus {
    box-shadow: 0 0 1px rgba(49, 37, 16, 0.5);
}
option {
    padding: 10px;
    color: rgb(0, 67, 0);
    background-color: #fff;
}
.products-count{
    margin-left: 10px;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
    background-color: #eeeeee81;
}
.products-count p{
    padding-inline: 10px;
    color: #d38f02;
}
.products-count:active {
    box-shadow: 0 0 1px rgba(49, 37, 16, 0.5);
}


.collections-content{
    padding: 10px;
    padding-inline: 5px;
    /* background-image: url(../../../assets/Pictures/background_green.png); */
    background-color: #eeeeee81;
}
.collections-content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product{
    margin: 10px;
    margin-inline: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(252, 254, 253);
}
.shade{
    height: 22px;
    background: linear-gradient(
    to bottom, 
    #eeeeee81,  /* Starting color at the top */
    white       /* Ending color at the bottom */
  );
  margin-bottom: 40px;
}


@media (max-width: 874px){
    .collections-page-content{
        margin-top: 121px;
    }
    .collections-title a{
        font-size: 24px;
        font-size: 28px;
    }
    .collections-title p{
        margin-top: 18px;
        font-size: 12px;
    }
    .products-count, .sort-by-title, .availability{
        display: none;
    }
}
