.ComingSoonPage{
    height: 350px;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-inline: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/Pictures/CommingSoon.jpg');
}
.blur{
    background-color: rgba(240, 248, 255, 0.858);
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ComingSoonPage h5{
    margin-top: 1px;
}
.blur:hover .roboto-bold{
    color:goldenrod;
    transition: color 1s;
}
.blur:not(:focus) .roboto-bold{
    transition: color 2s;
}



@media (max-width: 500px) {
    .ComingSoonPage{
        transition: 1s;
        height: 640px;
    }
    .blur{
        height: 25%;
        width: 100%;
    }
    .ComingSoonPage h1{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .ComingSoonPage h5{
        font-size: xx-small;
    }
}