.page{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('../../assets/Pictures/CommingSoon.jpg');
}
.ComingSoonPage{
    height: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-inline: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blur{
    background-color: rgba(240, 248, 255, 0.858);
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ComingSoonPage h5{
    margin-top: 1px;

}
.ComingSoonPage h1{
    font-size: 200%;
    margin-bottom: 8px;
}
.ComingSoonPage h5{
    font-size: xx-small;
}
.blur:hover .roboto-bold{
    color:goldenrod;
    transition: color 1s;
}
.blur:not(:focus) .roboto-bold{
    transition: color 2s;
}



@media (max-width: 500px) {
    .ComingSoonPage{
        transition: 1s;
        height: 640px;
    }
    .blur{
        height: 25%;
        width: 100%;
    }
    .ComingSoonPage h1{
        font-size: 100%;
        margin-bottom: 8px;
    }
    .ComingSoonPage h5{
        font-size: xx-small;
    }
}