.nav-bar{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    align-items: center;
}

.nav-belt{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #1d2a26;
}





.logo{
    max-width: 130px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.logo img:hover{
    border-style: solid;
    border-color: white;
}


.location{
    min-width: 125px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.location:hover{
    border-style: solid;
    border-color: white;
}
.location span{
    margin: 0px;
    margin-top: 8px;
}
.deliver-to{
    display: flex;
    flex-direction: column;
}
.deliver-to p{
    margin: 0px;
}
.deliver-to-top{
    font-size: 12px;
    font-weight: 400;
    color: #DDD;
}
.deliver-to-bottom{
    font-size: 14px;
    font-weight: 700;
}




.search-bar{
    display: flex;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 4px;
}
.search-bar input{
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
    color: rgb(1, 86, 1);
    font-weight: 500;
}
.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    background-color: #F4BB44;
}
.search-icon:active{
    transform: scale(0.99);
}
.search-icon:hover{
    background-color: #f3a90a;
}
.search-icon span{
    font-size: 30px;
    text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}





.account{
    width: fit-content;
    min-width: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.account:hover{
    border-style: solid;
    border-color: white;
}
.account p{
    margin: 0px;
}
.account-top{
    font-size: 12px;
    font-weight: 400;
}
.account-bottom{
    display: flex;
}
.account-bottom p{
    font-size: 14px;
    font-weight: 700;
}
.account-bottom svg{
    height: 20px;
    width: 20px;
    margin-left: -3px;
    margin-bottom: -6px;
}



.orders{
    min-width: 60px;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.orders:hover{
    border-style: solid;
    border-color: white;
}
.orders p{
    margin: 0px;
}
.orders-top{
    font-size: 12px;
    font-weight: 400;
}
.orders-bottom{
    font-size: 14px;
    font-weight: 700;
}



.cart{
    min-width: 55px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-top: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.cart:hover{
    border-style: solid;
    border-color: white;
}
.cart p{
    margin: 0px;
    margin-top: 5px;
}





.nav-belt-mobile{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1d2a26;
    display: none;
}


.search-bar-mobile{
    display: flex;
    width: fit-content;
    min-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 4px;
}
.search-bar-mobile input{
    width: 100%;
    min-width: 250px;
    padding-top: 7px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
}









@media (max-width: 875px){
    .search-bar{
        display: none;
    }
    .nav-belt-mobile{
        display: flex;
    }

    .cart{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    .location{
        display: none;
    }
}
@media (max-width: 424px){
    .account{
        min-width: 0px;
        width: fit-conten
    }
    .account-top{
        font-size: 10px;
    }
    .account-bottom p{
        font-size: 12px;
    }
    .account-bottom svg{
        margin-left: -4px;
        margin-top: -2px;
    }


    .orders{
        min-width: 0px;
        width: fit-conten
    }
    .orders-top{
        font-size: 10px;
    }
    .orders-bottom{
        font-size: 12px;
    }


    .cart{
        min-width: 0px;
        width: fit-content;
    }
    .cart p{
        font-size: 12px;
    }
}
@media (max-width: 382px){
    .nav-belt{
        justify-content:space-between !important;
    }

    .account{
        display: none;
    }

    .search-bar-mobile input{
        min-width: 200px;
    }

    .orders{
        display: none;
    }

    .cart p{
        font-size: 14px;
    }
}