<div class="nav-bar roboto-medium">
    <div class="nav-belt">
        <div class="logo">
            <a href="https://www.mangotrees.in"><img src="../../../assets/Pictures/MangoTrees-logo.png"></a>
        </div>
        <div class="location" (click)="RedirectTo('address')">
            <span class="material-symbols-outlined">location_on</span>
            <div class="deliver-to single-line-ellipsis">
                <p class="deliver-to-top gray font-size-12 single-line-ellipsis" style="max-width: 150px;">Deliver to {{navBarData.UserName == "Sign in"? "Gest":navBarData.UserName}}</p>
                <p class="deliver-to-bottom">{{navBarData.CityName}} {{navBarData.Pincode}}</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="search"  placeholder="Search Mangoes">
            <div class="search-icon">
                <span class="material-symbols-outlined" (click)="Search()">search</span>
            </div>
        </div>
        <div class="account" (click)="RedirectTo('profile')">
            <p class="account-top single-line-ellipsis" style="max-width: 150px;">Hello,&nbsp;&nbsp;{{navBarData.UserName}}</p>
            <div class="account-bottom">
                <p>Account & Lists</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#5f6368"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </div>
        </div>
        <div class="orders" (click)="RedirectTo('orders')">
            <p class="orders-top">Returns</p>
            <p class="orders-bottom">& Orders</p>
        </div>
        <div class="cart" (click)="RedirectTo('cart')">
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
            <p *ngIf="navBarData.CartCount>0" class="cart-count roboto-bold" style="margin-left: 36px;">{{navBarData.CartCount>10? "10+" : navBarData.CartCount}}</p>
            <p>Cart</p>
        </div>
    </div>
    <div class="nav-belt-mobile">
        <div class="search-bar-mobile">
            <input type="search" placeholder="Search Mangoes">
            <div class="search-icon">
                <span class="material-symbols-outlined" (click)="Search()">search</span>
            </div>
        </div>
    </div>
</div>