.nav-bar{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    align-items: center;
}

.nav-belt{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #1d2a26;
}





.logo{
    max-width: 130px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.logo img:hover{
    border-style: solid;
    border-color: white;
}




.location{
    min-width: 125px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.location:hover{
    border-style: solid;
    border-color: white;
}
.location span{
    margin: 0px;
    margin-top: 8px;
}
.deliver-to{
    display: flex;
    flex-direction: column;
}
.deliver-to p{
    margin: 0px;
}
.deliver-to-top{
    font-size: 12px;
    font-weight: 400;
    color: #DDD;
}
.deliver-to-bottom{
    font-size: 14px;
    font-weight: 700;
}





.search-bar{
    display: flex;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 4px;
}
.search-bar input{
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
    color: rgb(1, 86, 1);
    font-weight: 500;
}
.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    background-color: #F4BB44;
}
.search-icon:active{
    transform: scale(0.99);
}
.search-icon:hover{
    background-color: #f3a90a;
}
.search-icon span{
    font-size: 30px;
    text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}





.account{
    width: fit-content;
    min-width: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.account:hover{
    border-style: solid;
    border-color: white;
}
.account p{
    margin: 0px;
}
.account-top{
    font-size: 12px;
    font-weight: 400;
}
.account-bottom{
    display: flex;
}
.account-bottom p{
    font-size: 14px;
    font-weight: 700;
}
.account-bottom svg{
    height: 20px;
    width: 20px;
    margin-left: -3px;
    margin-bottom: -6px;
}


.back{
    width: 125px;
    height: 12px;
    z-index: 2;
    top: 57px;
    position: absolute;
    background-color: transparent;
}


.account-list{
    width: fit-content;
    height: fit-content;
    position: absolute; 
    top: 68px;
    right: 14%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #F4BB44;
    z-index: 3;
    color: black;
    /* background-color: antiquewhite; */
    /* background-color: #f0d8a5; */
    background-color: #385c51;
    /* background-color: rgb(238, 201, 201); */
}
.account-list:before {
    content: "";
    position: absolute;
    bottom: 99%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    /* border-color: transparent transparent antiquewhite transparent; */
    border-color: transparent transparent #385c51 transparent;
}

.account-list ul{
    width: fit-content;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.account-list h4{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f3a90a;
    font-size: 16px;
    font-weight: 700;
}
.account-list ul li{
    margin-bottom: 4px;
    color: #b48b34;
    font-size: 13px;
    font-weight: 500;
}
.account-list li:hover,a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.account-list hr{
    width: 105%;
    margin-top: 3px;
    margin-bottom: 3px;
    /* border-color: #91aba358; */
    /* border-color: rgba(203, 197, 197, 0.447); */
    border-color: #f1f5f358;
    box-shadow: transparent;
}
.account-list a{
    padding-left: 5px;
    color: #b48b34;
    font-size: 13px;
    font-weight: 500;
}







.orders{
    min-width: 60px;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.orders:hover{
    border-style: solid;
    border-color: white;
}
.orders p{
    margin: 0px;
}
.orders-top{
    font-size: 12px;
    font-weight: 400;
}
.orders-bottom{
    font-size: 14px;
    font-weight: 700;
}





.cart{
    min-width: 55px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-top: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.cart:hover{
    border-style: solid;
    border-color: white;
}
.cart p{
    margin: 0px;
    margin-top: 5px;
}


















.nav-belt-mobile{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1d2a26;
    display: none;
}


.search-bar-mobile{
    display: flex;
    width: fit-content;
    min-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 4px;
}
.search-bar-mobile input{
    width: 100%;
    min-width: 250px;
    padding-top: 7px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
}








@media (max-width: 1050px){
    .account-list{
        right:12%;
    }
}
@media (max-width: 875px){
    .search-bar{
        display: none;
    }
    .nav-belt-mobile{
        display: flex;
    }

    .cart{
        font-size: 14px;
    }


    .account-list{
        right:29.5%;
    }
}
@media (max-width: 775px){
    .account-list{
        right:26%;
    }
}
@media (max-width: 700px){
    .account-list{
        right:23%;
    }
}
@media (max-width: 575px){
    .location{
        display: none;
    }

    .account-list{
        right:33%;
    }
}
@media (max-width: 500px){
    .account-list{
        right:33%;
    }

    .account-list{
        padding-inline: 35px;
    }
    .account-list h4{
        font-size: 13px;
        font-weight: 700;
    }
    .account-list ul{
        margin-bottom: 8px;
    }
    .account-list ul li{
        font-size: 11px;
    }
    .account-list hr{
        margin-bottom: 0px;
    }
    .account-list a{
        font-size: 11px;
    }
}
@media (max-width: 424px){
    .account{
        min-width: 0px;
        width: fit-conten
    }
    .back{
        width: 90px;
    }
    .account-top{
        font-size: 10px;
    }
    .account-bottom p{
        font-size: 12px;
    }
    .account-bottom svg{
        margin-left: -4px;
        margin-top: -2px;
    }


    .orders{
        min-width: 0px;
        width: fit-conten
    }
    .orders-top{
        font-size: 10px;
    }
    .orders-bottom{
        font-size: 12px;
    }


    .cart{
        min-width: 0px;
        width: fit-content;
    }
    .cart p{
        font-size: 12px;
    }


    .account-list{
        right:32%;
    }
    .account-list{
        padding-inline: 25px;
    }
    .account-list h4{
        font-size: 12px;
    }
    .account-list ul{
        margin-bottom: 7px;
    }
    .account-list ul li{
        font-size: 10px;
    }
    .account-list hr{
        margin-bottom: 0px;
    }
    .account-list a{
        font-size: 10px;
    }

}
@media (max-width: 382px){
    .nav-belt{
        justify-content:space-between !important;
    }

    .account{
        display: none;
    }

    .search-bar-mobile input{
        min-width: 200px;
    }

    .orders{
        display: none;
    }

    .cart p{
        font-size: 14px;
    }

    .account-list{
        display: none;
    }
}