<div>
    <app-nav-bar></app-nav-bar>
</div>
<div class="test">
    <p>test works!1</p>
    <p>test works!</p>
    <p>test works!3</p>
    <p>test works!</p>
    <p>test works!5</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
    <p>test works!</p>
</div>
<div>
    <app-footer></app-footer>
</div>