.page{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../assets/Pictures/signupPage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: right;
    background-color: white;
}
h1{
    display: none;
    padding: 25%;
    text-align: center;
    font-size: small;
}

.otp-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.blur{
    height: fit-content;
    width: fit-content;
    display: flex;
    padding: 25px;
    margin-top: -5%;
    margin-left: -10%;
    border-radius: 10px;
    border: 2px solid rgb(237, 237, 237);
    background-color: rgba(255, 255, 255, 0.42);
}

.blur input{
    height: 40px;
    width: 12em;
    margin-bottom: 2%;
    margin-right: 0px !important;
    padding-inline: 11px;
    margin-inline: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0px;
    background-color: rgb(255, 192, 203);
}
.blur input::-webkit-inner-spin-button, 
.money input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.otp-input{
    text-align: center;
    outline: 0px;
}

.check{
    height: 42px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(216, 118, 151);
}

.check p{
    padding-inline: 9px;
}
.check:active{
    transform: scale(0.95);
}



.hide{
    display: none;
}


@media (max-width: 1100px) {
    .page{
        background-image: url('../../../assets/Pictures/signupPage-mobile.png');
        background-size: 50%;
        transition: 1s;
    }
}
@media (max-width: 600px){
    .page{
        background-image: url('../../../assets/Pictures/signupPage-mobile.png');
        background-size: 75%;
        transition: 1s;
    }
}
@media (max-width: 500px){
    .blur{
        margin-top: -25%;
        margin-left: 0px;
    }
}
@media (max-width: 314px){
    h1{
        display: flex;
    }
    .page{
        display: none;
    }
}