<div class="pop-page">
    <div *ngIf="ViewsList['address-update'].value">
        <div class="image-wrapper" (click)="closePage()">
            <img src="../../../assets/Pictures/cancel.png" alt="Cancel">
        </div>
        <app-address-update [addressData]="addressData" (data)="saveData($event)"></app-address-update>
    </div>
    <div *ngIf="ViewsList['otp'].value">
        <div class="image-wrapper" (click)="closePage()">
            <img src="../../../assets/Pictures/cancel.png" alt="Cancel">
        </div>
        <app-otp-page (data)="saveData($event)"></app-otp-page>
    </div>
    <div *ngIf="ViewsList['coupon'].value">
        <div class="image-wrapper" (click)="closePage()">
            <img src="../../../assets/Pictures/cancel.png" alt="Cancel">
        </div>
        <app-coupon-code-page (data)="saveData($event)"></app-coupon-code-page>
    </div>
    <div *ngIf="ViewsList['address-select'].value">
        <div class="image-wrapper" (click)="closePage()">
            <img src="../../../assets/Pictures/cancel.png" alt="Cancel">
        </div>
        <app-address-select [addressesList]="addressesList" (data)="saveData($event)"></app-address-select>
    </div>
</div>