<div class="check-out-page roboto-regular">
    <div class="check-out-component">
        <div class="check-out-all-items">
            .
        </div>
        <div>
            <div class="proceed-to-check-out blur">
                <div class="proceed-to-payment">
                    <div>
                        <div class="proceed-to-payment-button">
                            <p>Place Your Order and Pay</p>
                        </div>
                        <div class="proceed-to-payment-info">
                            By placing your order, you agree to MangoTrees's <br>
                            <a>privacy notice</a> and <a>conditions of use</a>.
                        </div>
                    </div>
                </div>  
                <hr style="margin: 0px;border-top: 1px dashed #576d4a;">
                <div class="order-summary">
                    <h3>Order Summary</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Items:</td>
                                <td class="order-summary-value">₹37,998.00</td>
                            </tr>
                            <tr>
                                <td>Delivery:</td>
                                <td class="order-summary-value">₹0.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table>
                        <tbody>
                            <tr class="order-total">
                                <td>Order Total:</td>
                                <td class="order-summary-value">₹37,998.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <div class="delivery-cost">
                    <p style="margin-bottom: 7px;color: green;cursor: pointer;">How are delivery costs calculated?</p>
                    <p style="color: rgb(71, 71, 71);">MangoTrees Delivery will be subject to carriage charges imposed by the third-party company.</p>
                </div>
            </div>
        </div>
    </div>
</div>