<div class="check-out-page roboto-regular">
    
    <div class="check-out-title">
        <h2 style="margin: auto;">Purchase Summary</h2>
    </div>

    <div class="check-out-component">
        <div class="check-out-all-items">
            <div class="check-out-delivery-address">
                <div class="check-out-delivery-address-title">
                    <h3>Delivery address</h3>
                </div>
                <div class="check-out-delivery-address-content blur">
                    <p class="roboto-regular multi-line-5">Abhiram <br>House no :- 7/263/1 banginapalli thota <br> NUZVID, ANDHRA PRADESH 521201</p>
                    <div class="change-button">
                        <a>Change</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="check-out-review-items">
                <div class="check-out-review-items-title">
                    <h3>Review items</h3>
                </div>
                <div class="review-items-list">
                    <div class="review-item blur" *ngFor="let items of options">
                        <div class="item">
                            <div class="review-item-top">
                                <div class="review-item-image">
                                    <img [src]="image" alt="">
                                </div>
                                <div class="review-item-text">
                                    <p class="single-line review-item-top-title">{{data.Title}}</p>
                                    <p class="multi-line-3 review-item-top-desc">{{data.Desc}}</p>
                                </div>
                            </div>
                            <hr style="margin: 0px;border-top: 1px dashed #acabab;">
                            <div class="review-item-bottom">
                                <div class="review-item-bottom-with">
                                    <a class="price">₹{{data.Discount? data.SalePrice:data.Price}}</a>
                                    <div class="quantity">
                                        <select [(ngModel)]="temp">
                                            <option *ngFor="let option of options" [value]="option.id" [disabled]="option.disabled">
                                            {{ option.value }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="change-button" style="margin-left: 10px;">
                                        <a>Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="Width-300">
            <div class="proceed-to-check-out blur">
                <div class="proceed-to-payment">
                    <div>
                        <div class="proceed-to-payment-button">
                            <p>Place Your Order and Pay</p>
                        </div>
                        <div class="proceed-to-payment-info">
                            By placing your order, you agree to MangoTrees's <br>
                            <a href="../help/security-and-privacy">privacy notice</a> and <a href="../help/security-and-privacy/conditions-of-use">conditions of use</a>.
                        </div>
                    </div>
                </div>  
                <hr style="margin: 0px;border-top: 1px dashed #576d4a;">
                <div class="order-summary">
                    <h3>Order Summary</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Items:</td>
                                <td class="order-summary-value">₹37,998.00</td>
                            </tr>
                            <tr>
                                <td>Packing:</td>
                                <td class="order-summary-value">₹0.00</td>
                            </tr>
                            <tr>
                                <td>Discount:</td>
                                <td class="order-summary-value">₹0.00</td>
                            </tr>
                            <tr>
                                <td>Delivery:</td>
                                <td class="order-summary-value">₹0.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table>
                        <tbody>
                            <tr class="order-total">
                                <td>Order Total:</td>
                                <td class="order-summary-value">₹37,998.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <div class="delivery-cost">
                    <p style="margin-bottom: 7px;color: green;cursor: pointer;">How are delivery costs calculated?</p>
                    <p style="color: rgb(71, 71, 71);">MangoTrees Delivery will be subject to carriage charges imposed by the third-party company.</p>
                </div>
            </div>
        </div>
    </div>

    <hr style="max-width: 1333px;">

    <div class="check-out-info">
        <p>Need help? Check our <a href="../help">help</a> page or <a href="../contact-us">contact us</a></p>
        <p>Upon placing your order, you will receive an email confirmation acknowledging receipt of your order. If you select an electronic payment method (credit card, debit card, or net banking), you will be redirected to your bank’s website to complete the transaction. Your purchase contract will be finalized once we have received your electronic payment and dispatched your item.</p>
        <p>Need to add more items to your order? Continue shopping on the <a href="../home">MangoTrees.in homepage.</a></p>
    </div>
    <br>
</div>