.check-out-page{
    height: 100% !important;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.check-out-component{
    width: calc(100%-34px);
    margin-top: 65px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.blur{
    border-radius: 12px;
    border: 1.5px solid rgb(237, 237, 237);
}
.multi-line-ellipsis{
    overflow: hidden;                
    display: -webkit-box;           
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 5;           
    text-overflow: ellipsis;       
} 




.check-out-all-items{
    height: fit-content;
    width: calc(100% - 321px);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}


.check-out-delivery-address{
    height: fit-content;
    width: 666px;
    padding-inline: 6px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: antiquewhite; */
}
.check-out-delivery-address-title{
    display: flex;
    align-items: center;
}
.check-out-delivery-address-title a{
    margin-bottom: 1.5px;
    margin-right: 12px;
    color: #576d4a;
}
.check-out-delivery-address-title h3{
    margin: 0px;
    font-size: 18px;
    color: #576d4a;
}
.check-out-delivery-address p{
    height: fit-content;
    max-width: 275px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;
    align-self: center;
    color: #333;
}
.change-button{
    width: 50px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid rgb(237, 237, 237);
    transition: 0.33s;
    background-color: #e4f9e4;
}
.change-button:active{
    transition: 0.3s;
    background-color: #d8f3d8;
}
.change-button a{
    font-weight: 500;
    user-select: none;
    color: #335b1e;
}

.check-out-all-items hr{
    width: 666px;
    margin-top: 24px;
    margin-bottom: 24px;
}


.check-out-review-items{
    width: 666px;
    display: flex;
    flex-direction: column;
}

.check-out-review-items-title{
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}
.check-out-review-items-title a{
    margin-bottom: 1.5px;
    margin-right: 12px;
    color: #576d4a;
}
.check-out-review-items-title h3{
    margin: 0px;
    font-size: 18px;
    color: #576d4a;
}

.review-items-list{
    width: 100%;
}
.review-item{
    height: 300px;
    width: 100%;
    background-color: #e4f9e4;
}




.Width-300{
    width: 303px;
    /* background-color: #576d4a; */
}
.proceed-to-check-out{
    height: fit-content;
    width: 300px;
    position: fixed;
    right: 17px;
    /* background-color: lightcoral; */
}

.proceed-to-payment{
    height: fit-content;
    padding-top: 10px;
    padding-inline: 18px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    /* background-color: aquamarine; */
}
.proceed-to-payment-info{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}
.proceed-to-payment-info a{
    cursor: pointer;
    color: #576d4a;
}
.proceed-to-payment-info a:hover, .proceed-to-payment-info a:active{
    text-decoration-line: underline;
    color: #576d4a;
}


.proceed-to-payment-button{
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s; 
    color: white;
    background-color: #617953;
}
.proceed-to-payment-button:active{
    background-color: #576d4a;
    transform: scale(0.95);
    transition: 0.5s;
}
.proceed-to-payment-button p{
    margin: 0px;
    font-size: 13px;
    text-align: center;
}




.order-summary{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-inline: 18px;
    /* background-color: antiquewhite; */
}
.order-summary h3{
    margin-top: 10px;
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td{
    font-size: 12px;
}
.order-summary-value{
    float: right;
}
.order-total td{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #b12704;
}



.delivery-cost{
    height: fit-content;
    padding-top: 21px;
    padding-bottom: 18px;
    user-select: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f0f2f2;
}
.delivery-cost p{
    width: fit-content;
    margin: 0px;
    margin-inline: 18px;
    font-size: 12px;
}



@media (max-width: 2080px){
    .proceed-to-check-out{
        right: 18%;
    }
}@media (max-width: 1980px){
    .proceed-to-check-out{
        right: 14%;
    }
}@media (max-width: 1880px){
    .proceed-to-check-out{
        right: 10%;
    }
}@media (max-width: 1580px){
    .proceed-to-check-out{
        right: 7%;
    }
}@media (max-width: 1480px){
    .proceed-to-check-out{
        right: 5%;
    }
}@media (max-width: 1375px){
    .proceed-to-check-out{
        right: 4%;
    }
}@media (max-width: 1275px){
    .proceed-to-check-out{
        right: 3%;
    }
}@media (max-width: 1221px){
    .proceed-to-check-out{
        right: 2%;
    }
}@media (max-width: 1115px){
    .proceed-to-check-out{
        right: 17px;
    }
}
@media (max-width: 1085px){
    .check-out-delivery-address{
        height: fit-content;
        min-height: 160px;
        width: 333px;
        text-align: center;
        flex-direction: column;
    }

    .check-out-all-items hr{
        width: 333px;
    }

    .check-out-review-items{
        width: 333px;
    }
}
@media (max-width: 850px){
    .check-out-all-items{
        /* height: fit-content; */
        width: 100%;
    }
    .check-out-component{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proceed-to-check-out{
        margin-top: 25px;
        position: relative;
        right: 0;
    }
}
@media (max-width: 874px){
    .check-out-component{
        margin-top: 121px;
    }
}


@media (max-width: 380px) {
    .check-out-delivery-address{
        width: 275px;
    }

    .check-out-all-items hr{
        width: 250px !important;
    }

    .check-out-review-items{
        width: 275px;
    }
}