.check-out-page{
    height: 100% !important;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.check-out-component{
    width: calc(100% - 34px);
    max-width: 1333px;
    margin: auto;
    margin-top: 0px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.blur{
    border-radius: 12px;
    border: 1.5px solid rgb(237, 237, 237);
}



.check-out-title{
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f0f2f2;
}
.check-out-title h2{
    user-select: none;
    font-weight: 200;
}



.check-out-all-items{
    height: fit-content;
    width: calc(100% - 355px);
    padding-inline: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.check-out-delivery-address{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.check-out-delivery-address-title{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.check-out-delivery-address-title h3{
    margin: 0px;
    font-size: 18px;
    color: #576d4a;
}
.check-out-delivery-address-content{    
    height: fit-content;
    min-width: 330px;
    padding-inline: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.check-out-delivery-address-content p{
    height: fit-content;
    max-width: 275px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}
.change-button{
    width: 50px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid rgb(215, 213, 213);
    transition: 0.33s;
    background-color: #e4f9e4;
}
.change-button:active{
    transition: 0.3s;
    background-color: #d8f3d8;
}
.change-button a{
    font-weight: 500;
    user-select: none;
    color: #335b1e;
}

.check-out-all-items hr{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 1px dashed #576d4a;
}

.check-out-review-items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.check-out-review-items-title{
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}
.check-out-review-items-title a{
    margin-bottom: 1.5px;
    margin-right: 12px;
    color: #576d4a;
}
.check-out-review-items-title h3{
    margin: 0px;
    font-size: 18px;
    color: #576d4a;
}
.review-items-list{
    height: fit-content;
    width: 100%;
    margin-bottom: 28px;
}

.review-item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.item{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.review-item-top{
    height: fit-content;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.review-item-image{
    width: 102px;
    margin-top: 10px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: lightgreen;
}
.review-item-image img{
    height: 100%;
    width: 100%;
}
.review-item-text{
    max-width: calc(100% - 20px);    
    width: 60%;
    margin: auto;
    margin-inline: 10px;
}
.review-item-top-title{
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.review-item-top-desc{
    height: fit-content;
    font-size: 14px;
    font-weight: 300;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.review-item-bottom{
    width: 100%;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f0f2f2;
}
.review-item-bottom-with{
    width: 75%;
    max-width: 360px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.price{
    font-size: 18px;
    font-weight: 500;
    align-self: center;
    color: #335b1e;
}
.quantity{
    align-self: center;
    box-shadow: black;
}
select {
    height: 26px; 
    width: 70px; 
    padding-inline: 6px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 12px;
    text-align: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    background-color: #f3f3f3; 
    user-select: none;
    color: #333;
}
option[value=""] {
    color: #888;
}
option:disabled {
    color: #aaa; 
    background-color: #f9f9f9; 
}



.Width-300{
    width: 303px;
}
.proceed-to-check-out{
    height: fit-content;
    width: 300px;
}

.proceed-to-payment{
    height: fit-content;
    padding-top: 10px;
    padding-inline: 18px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
.proceed-to-payment-info{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}
.proceed-to-payment-info a{
    text-decoration: none;
    cursor: pointer;
    color: #576d4a;
}
.proceed-to-payment-info a:hover, .proceed-to-payment-info a:active{
    text-decoration-line: underline;
    color: #576d4a;
}


.proceed-to-payment-button{
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s; 
    color: white;
    background-color: #617953;
}
.proceed-to-payment-button:active{
    background-color: #576d4a;
    transform: scale(0.95);
    transition: 0.5s;
}
.proceed-to-payment-button p{
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

.order-summary{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-inline: 18px;
}
.order-summary h3{
    margin-top: 10px;
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td{
    font-size: 12px;
}
.order-summary-value{
    float: right;
}
.order-total td{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #b12704;
}

.delivery-cost{
    height: fit-content;
    padding-top: 21px;
    padding-bottom: 18px;
    user-select: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f0f2f2;
}
.delivery-cost p{
    width: fit-content;
    margin: 0px;
    margin-inline: 18px;
    font-size: 12px;
}

.check-out-info{
    max-width: 1333px;
    padding-inline: 17px;
    margin: auto;
    margin-top: 24px;
}
.check-out-info p{
    font-size: 12px;
}
.check-out-info a{
    cursor: pointer;
    text-decoration: none;
    color: green;
}
.check-out-info a:hover{
    text-decoration: underline;
}


@media (max-width: 330px){
    .review-item-bottom-with{
        width: 100%;
        margin: 0px;
    }
}
@media (max-width: 360px) {
    .review-item-bottom{
        padding-inline: 0px;
    }
}
@media (max-width: 380px) {
    .check-out-delivery-address-content{
        min-width: 0px;;
    }   
    .review-item-text{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 474px){
    .check-out-delivery-address-content p{
        max-width: 60%;
        font-size: 12px;
    }
    .check-out-info p{
        font-size: 10px;
    }

    .review-item-top-title,
    .review-item-top-desc {
        font-size: 12px;
    }
}
@media (max-width: 850px){
    .check-out-all-items{
        width: 100%;
    }
    .check-out-component{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proceed-to-check-out{
        margin-top: 25px;
        margin-bottom: 36px;
    }
}
@media (max-width: 1085px){}



