<div class="footer roboto-regular">
    <div class="top-footer" (click)="scrollToTop()">
        <h4>Back to top</h4>
    </div>
    <div class="middle-footer">
        <div class="top-middle-footer">
            <div class="Get-to-know-us">
                <h4>Get to Know Us</h4>
                <ul class="roboto-medium">
                    <li><a>About Us</a></li>
                    <li (click)="RedirectTo('5382cd00-6215-4b10-8739-8566a5ec1e36')"><a>Contact Us</a></li>
                </ul>
            </div>
            <div class="Our-packaging">
                <h4>Consumer Policy</h4>
                <ul class="roboto-medium">
                    <li><a>Packing Materials</a></li><!-- Consider the item's requirements and choose the right packing materials. -->
                    <li><a>Wrap Items</a></li> <!-- Wrap all items separately. -->
                    <li><a>Cushion and Fill</a></li><!-- Leave no empty space, but don't overstuff. -->
                    <li><a>Seal</a></li><!-- Use the right sealing material and seal your boxes with the H-taping method. -->
                </ul>
            </div>
            <div class="connect-with-us">
                <h4>Connect with Us</h4>
                <ul class="roboto-medium">
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://twitter.com/">Twitter</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
    
            <div class="address-block">
                <div class="address">
                    <div class="map">
                        <!-- 350 200 -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d20016.575620122443!2d80.8207131638689!3d16.883535748228173!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTbCsDUzJzE0LjYiTiA4MMKwNDgnNDUuNiJF!5e0!3m2!1sen!2sin!4v1714393740727!5m2!1sen!2sin" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <p class="location">
                        <a class="icon">
                            <span class="material-symbols-outlined">location_on</span>
                        </a>
                        MangoTrees, Kondaparava thota, Nuzividu,<br>
                        krishna Dist, Andhra Pradesh 521213, India <br>
                        Phone no : 7416898456
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="bottom-middle-footer">
            <p><img src="../../../assets/Pictures/Nuzividu_Mangos.png" alt="Nuzividu Mangos"></p>
        </div>
    </div>
    <div class="bottom-footer">
        <p>© 2024 MangoTrees.    All rights reserved</p>
    </div>
</div>