<div class="nav-bar roboto-medium">
    <div class="nav-belt">
        <div class="logo" (click)="RedirectTo('home')">
            <a><img src="../../../assets/Pictures/MangoTrees-logo.png"></a>
        </div>
        <div class="location" (click)="RedirectTo('address')">
            <div class="icon">
                <span class="material-symbols-outlined">location_on</span>
            </div>
            <div class="deliver-to single-line-ellipsis">
                <p class="deliver-to-top gray font-size-12 single-line-ellipsis" style="max-width: 150px;">Deliver to {{navBarData?.UserName? navBarData?.UserName:"Gest"}}</p>
                <p class="deliver-to-bottom">{{navBarData?.CityName? navBarData?.CityName:'Nuzivid'}} {{navBarData?.Pincode? navBarData?.Pincode:'521201'}}</p>
            </div>
        </div>
        <form class="search-bar" [formGroup]="searchForm" (ngSubmit)="Search()">
            <input type="search" formControlName="searchWord" placeholder="Search Mangoes">
            <div class="search-icon">
                <span class="material-symbols-outlined" (click)="Search()">search</span>
            </div>
        </form>
        <div class="account-mobile" (click)="RedirectTo('profile')">
            <img src="../../../assets/Pictures/user.png">
            <p>Account</p>
        </div>
        <div class="account" (click)="RedirectTo('profile')">
            <p class="account-top single-line-ellipsis" style="max-width: 150px;">Hello,&nbsp;&nbsp;{{navBarData?.UserName? navBarData?.UserName:'Sign in'}}</p>
            <div class="account-bottom">
                <p>Account & Lists</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#5f6368"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </div>
        </div>
        <div class="orders" (click)="RedirectTo('orders')">
            <p class="orders-top">Pickups</p>
            <p class="orders-bottom">& Orders</p>
        </div>
        <div class="cart" (click)="RedirectTo('cart')">
            <div class="icon">
                <span class="material-symbols-outlined">shopping_bag</span>
            </div>
            <p *ngIf="navBarData?.CartCount" class="cart-count roboto-bold" style="margin-left: 36px;">{{navBarData?.CartCount! > 10? "10+" : navBarData?.CartCount}}</p>
            <p>Cart</p>
        </div>
    </div>
    <div class="nav-belt-mobile">
        <form class="search-bar-mobile" [formGroup]="searchForm" (ngSubmit)="Search()">
            <input type="search" formControlName="searchWord" placeholder="Search Mangoes">
            <div class="search-icon">
                <span class="material-symbols-outlined" (click)="Search()">search</span>
            </div>
        </form>
    </div>
</div>