.nav-bar{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 5;
    align-items: center;
    justify-content: safe;
}

.nav-belt{
    height: fit-content;
    width: 100%;
    min-height: 60;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3px;
    padding-inline: 1px;
    color: #fff;
    background-color: #1d2a26;
}

.single-line-ellipsis {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;
}



.logo{
    max-width: 130px;
    display: flex;
    align-items: center;
    margin-top: 3px;
    user-select: none;
}
.logo a{
    margin-bottom: -4px;
}
.logo img{
    width: 100%;
    /* border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26; */
    cursor: pointer;
}
/* .logo img:hover{
    border-style: solid;
    border-color: white;
} */




.location{
    min-width: 125px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.location:hover{
    border-style: solid;
    border-color: white;
}
.icon{
    max-width: 25px;
    overflow: hidden;
}
.location span{
    margin: 0px;
    margin-top: 5px;
}
.deliver-to{
    display: flex;
    flex-direction: column;
}
.deliver-to p{
    margin: 0px;
}
.deliver-to-top{
    font-size: 12px;
    font-weight: 400;
    color: #DDD;
}
.deliver-to-bottom{
    font-size: 14px;
    font-weight: 700;
}





.search-bar{
    display: flex;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-inline: 4px;
}
.search-bar input{
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
    color: rgb(1, 86, 1);
    font-weight: 500;
}
.search-icon{
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    user-select: none;
    overflow: hidden;
    color: black;
    background-color: #F4BB44;
}
.search-icon:active{
    transform: scale(0.99);
}
.search-icon:hover{
    background-color: #f3a90a;
}
.search-icon span{
    font-size: 30px;
    text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




.account-mobile{
    width: fit-content;
    min-width: 55px;
    height: 50px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    display: none;
}
.account-mobile:hover{
    border-style: solid;
    border-color: white;
}
.account-mobile p{
    margin: 0px;
    margin-top: 5px;
    padding-right: 4px;
    font-size: 14px;
}
.account-mobile img{
    max-width: 17px;
    padding: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
}
.account{
    width: fit-content;
    min-width: 120px;
    height: 50px;
    padding-left: 9px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.account:hover{
    border-style: solid;
    border-color: white;
}
.account p{
    margin: 0px;
}
.account-top{
    font-size: 12px;
    font-weight: 400;
}
.account-bottom{
    display: flex;
}
.account-bottom p{
    font-size: 14px;
    font-weight: 700;
}
.account-bottom svg{
    height: 20px;
    width: 20px;
    margin-left: -3px;
    margin-bottom: -6px;
}






.orders{
    min-width: 60px;
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
}
.orders:hover{
    border-style: solid;
    border-color: white;
}
.orders p{
    margin: 0px;
}
.orders-top{
    font-size: 12px;
    font-weight: 400;
}
.orders-bottom{
    font-size: 14px;
    font-weight: 700;
}





.cart{
    min-width: 55px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 9px;
    margin-top: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: #1d2a26;
    cursor: pointer;
    overflow: hidden;
}
.cart:hover{
    border-style: solid;
    border-color: white;
}
.cart p{
    margin: 0px;
    margin-top: 5px;
}

.cart-count{
    top: 5px;
    min-height: 12px;
    min-width: 20px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    z-index: 6;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0px;
    font-size: 10px !important;
    border-radius: 100px;
    background-color: #cc0c39;
}


















.nav-belt-mobile{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1d2a26;
    display: none;
}


.search-bar-mobile{
    display: flex;
    width: fit-content;
    min-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 4px;
}
.search-bar-mobile input{
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0px;
    font-size: 15px;
}








@media (max-width: 1300px){
    
}
@media (max-width: 875px){
    .search-bar{
        display: none;
    }
    .nav-belt-mobile{
        display: flex;
    }

    .cart{
        font-size: 14px;
    }
    .cart-count{
        min-height: 10px;
        min-width: 17px;
        font-size: 9px !important;
    }

    
}
@media (max-width: 775px){

}
@media (max-width: 700px){
    
}
@media (max-width: 575px){
    .location{
        display: none;
    }

    
}
@media (max-width: 500px){
    
}
@media (max-width: 424px){
    .account{
        min-width: 0px;
        width: fit-conten
    }
    .back{
        width: 90px;
    }
    .account-top{
        font-size: 10px;
    }
    .account-bottom p{
        font-size: 12px;
    }
    .account-bottom svg{
        margin-left: -4px;
        margin-top: -2px;
    }


    .orders{
        min-width: 0px;
        width: fit-conten
    }
    .orders-top{
        font-size: 10px;
    }
    .orders-bottom{
        font-size: 12px;
    }


    .cart{
        min-width: 0px;
        width: fit-content;
    }
    .cart p{
        font-size: 12px;
    }
    .cart-count{
        font-size: 8px !important;
    }


}
@media (max-width: 399px){
    .nav-belt{
        justify-content:space-between !important;
    }
    .search-bar-mobile input{
        min-width: 200px;
    }

    .orders{
        display: none;
    }

    .cart p{
        font-size: 14px;
    }
}

@media (max-width: 333px){
    .account{
        display: none;
    }
    .account-mobile{
        display: flex;
    }
}