<div class="view roboto-regular" (click)="ViewProductClicked('Some ID')">
    <div class="view-item">
        <div class="view-item-image">
            <img src="https://www.paperboatfoods.com/cdn/shop/products/1_1_150x.jpg" alt="">
        </div>
        <div class="view-item-desc">
            <div class="view-item-desc-title">
                <div style="height: fit-content;" class="roboto-bold title multi-line-ellipsis">{{product.Title}}</div>
                <div class="single-line-ellipsis desc roboto-light">{{product.Desc}}</div>
            </div>
            <div class="view-item-desc-rating" >
                <div class="stars">
                    <p class="star" *ngFor="let item of product.Stars">&#9733;</p>
                </div>
                <p style="margin: 0px;">{{product.NumberOfRating}}</p>
            </div>
            <div class="view-item-desc-price">
                <div *ngIf="product.DealTitle" class="deal">{{product.DealTitle}}</div>
                <div class="price">
                    <div>
                        <a *ngIf="product.Discount" class="discount">{{product.Discount}}%</a>
                        <div><p class="Symbol" style="margin: 0px;">₹</p>{{product.SalePrice}}<p *ngIf="!product.SalePrice" style="margin: 0px;">{{product.Price}}</p></div>
                    </div>
                    <a *ngIf="product.OldPrice" class="old-price">₹{{product.OldPrice}}</a>
                </div>
            </div>
        </div>
        <div class="view-item-button" [class.disabled]="product.Availability" [attr.aria-disabled]="product.Availability" (click)="AddtoCartClicked('Some ID', $event)">
            <p *ngIf="!product.Availability" style="margin: 0px;">Add to Cart</p>
            <p *ngIf="product.Availability" style="margin: 0px;">Sold Out</p>
        </div>  
    </div>
</div>
