:host{
    width: fit-content;
}

.view{
    width: 275px;
    height: 450px;
    margin-inline: 5px;
    border: 0.1px solid rgb(240, 239, 239);
    border-radius: 10px;
}

.view-item{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}






.view-item-image{
    width: 75%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: black;
}
.view-item-image img{
    height: 100%;
    width: 100%;
}




.view-item-desc-title{
    height: fit-content;  
    width: 205px;                    
    margin: auto;
}
.title{
    font-size: 16px;
    text-align: center;
}
.desc{
    font-size: 16px;
}
.single-line-ellipsis {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;
}
.multi-line-ellipsis{
    overflow: hidden;                
    display: -webkit-box;           
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2;           
    text-overflow: ellipsis;       
}






.view-item-desc-rating{
    height: 20px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding-inline: 10px;
    overflow: hidden;
}
.view-item-desc-rating p{
    color: gray;
    font-size: 13px;
    align-self: baseline;
}
.view-item-desc-rating .stars{
    display: flex;
    margin-right: 5px;
    align-self: baseline;
}
.view-item-desc-rating .stars p{
    height: 20px;
    color: goldenrod;
    font-size: large;
    margin: 0px;
}
  



.view-item-desc-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-item-desc-price .deal{
    height: 10%;
    width: fit-content;
    max-width: 60%; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-inline: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #cc0c39;
}
.view-item-desc-price .price{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    align-items: baseline;
}
.view-item-desc-price .price div{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding-right: 5px;
}
.view-item-desc-price .price div .discount{
    padding-right: 10px;
    color: #cc0c39;
}
.view-item-desc-price .price .old-price{
    font-size: 13px;
    text-decoration: line-through;
}







.view-item-button{
    height: 8%;
    width: 75%;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}
.view-item-button:active{
    transform: scale(0.98);
}






@media (max-width: 1100px){
    .view{
        width: 255px;
        height: 410px;
    }
    
    .view-item-desc-title{
        width: 195px;
    }
    .title{
        font-size: 15px;
    }
    .desc{
        font-size: 15px;
    }


    .view-item-desc-rating{
        margin-bottom: 7px;
    }
    .view-item-desc-rating p{
        font-size: 12.5px;
    }
    .view-item-desc-rating .stars p{
        font-size: 17px;
    }



    .view-item-desc-price .deal{
        font-size: 15px;
    }
    .view-item-desc-price .price div{
        font-size: 22.5px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 12px;
    }


    .view-item-button{
        font-size: 16px;
    }

}
@media (max-width: 1000px){
    .view{
        width: 240px;
        height: 390px;
    }

    .view-item-desc-title{
        width: 180px;
    }
    .title{
        font-size: 14.5px;
    }
    .desc{
        font-size: 14.5px;
    }


    .view-item-desc-rating{
        margin-bottom: 6px;
    }
    .view-item-desc-rating p{
        font-size: 12px;
    }
    .view-item-desc-rating .stars p{
        font-size: 16px;
    }

    .view-item-desc-price .deal{
        font-size: 14px;
    }


    .view-item-desc-price .price{
        margin-top: 7px;
    }
    .view-item-desc-price .price div{
        font-size: 21px;
    }    
    .view-item-desc-price .price .old-price{
        font-size: 11px;
    }

    .view-item-button{
        font-size: 15px;
    }
}
@media (max-width: 900px){
    .view{
        width: 225px;
        height: 370px;
    }

    .view-item-desc-title{
        width: 170px;
    }
    .title{
        font-size: 14px;
    }
    .desc{
        font-size: 14px;
    }


    .view-item-desc-rating{
        margin-bottom: 5px;
    }
    .view-item-desc-rating .stars p{
        font-size: 15px;
    }
    .view-item-desc-rating p{
        font-size: 11.5px;
    }



    .view-item-desc-price .price{
        margin-top: 6px;
    }
    .view-item-desc-price .deal{
        font-size: 13px;
    }
    .view-item-desc-price .price div .discount{
        padding-right: 8px;
    }
    .view-item-desc-price .price div{
        font-size: 19.5px;
        padding-right: 4px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 10px;
    }

    .view-item-button{
        font-size: 14px;
    }
}
@media (max-width: 800px){
    .view{
        width: 210px;
        height: 350px;
    }

    .view-item-desc-title{
        width: 160px;
    }
    .title{
        font-size: 13.5px;
    }
    .desc{
        font-size: 13.5px;
    }


    .view-item-desc-rating{
        margin-bottom: 4px;
    }
    .view-item-desc-rating p{
        font-size: 11px;
    }
    .view-item-desc-rating .stars p{
        font-size: 14px;
    }



    .view-item-desc-price .price{
        margin-top: 5px;
    }
    .view-item-desc-price .deal{
        font-size: 12px;
    }

    .view-item-desc-price .price div{
        font-size: 18px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 9px;
    }


    .view-item-button{
        font-size: 13px;
    }
}
@media (max-width: 700px){
    .view{
        width: 195px;
        height: 320px;
    }

    .view-item-desc-title{
        width: 145px;
    }
    .title{
        font-size: 13px;
    }
    .desc{
        font-size: 13px;
    }


    .view-item-desc-rating{
        margin-bottom: 3px;
    }
    .view-item-desc-rating p{
        font-size: 10.5px;
    }
    .view-item-desc-rating .stars p{
        font-size: 13px;
    }



    .view-item-desc-price .price{
        margin-top: 4px;
    }
    .view-item-desc-price .deal{
        font-size: 11px;
    }

    .view-item-desc-price .price div{
        font-size: 16.5px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 8px;
    }


    .view-item-button{
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .view{
        width: 180px;
        height: 300px;
    }

    .view-item-desc-title{
        width: 135px;
    }
    .title{
        font-size: 12.5px;
    }
    .desc{
        font-size: 12.5px;
    }


    .view-item-desc-rating{
        margin-bottom: 2px;
    }
    .view-item-desc-rating p{
        font-size: 10px;
    }
    .view-item-desc-rating .stars p{
        font-size: 12px;
    }


    .view-item-desc-price .price{
        margin-top: 3px;
    }
    .view-item-desc-price .deal{
        font-size: 10px;
    }
    .view-item-desc-price .price div{
        font-size: 15px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 7px;
    }


    .view-item-button{
        font-size: 11px;
    }
}
@media (max-width: 500px){
    .view{
        width: 165px;
        height: 280px;
    }

    .view-item-desc-title{
        width: 125px;
    }
    .title{
        font-size: 12px;
    }
    .desc{
        font-size: 12px;
    }


    .view-item-desc-price .price{
        margin-top: 2px;
    }
    .view-item-desc-rating{
        margin-bottom: 1px;
    }
    .view-item-desc-rating p{
        font-size: 9.5px ;
    }
    .view-item-desc-rating .stars p{
        font-size: 11px;
    }

    .view-item-desc-price .deal{
        font-size: 9px;
    }

    .view-item-desc-price .price div{
        font-size: 13.5px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 6px;
    }


    .view-item-button{
        font-size: 10px;
    }
}
@media (max-width: 400px){
    .view{
        width: 150px;
        height: 260px;
    }

    .view-item-desc-title{
        width: 110px;
    }
    .title{
        font-size: 11.5px;
    }
    .desc{
        font-size: 11.5px;
    }


    .view-item-desc-rating{
        margin-bottom: 0px;
    }
    .view-item-desc-rating p{
        font-size: 9px;
    }
    .view-item-desc-rating .stars p{
        font-size: 10px;
    }


    .view-item-desc-price .price{
        margin-top: 2px;
    }
    .view-item-desc-price .deal{
        font-size: 8px;
    }

    .view-item-desc-price .price div{
        font-size: 12px;
    }
    .view-item-desc-price .price .old-price{
        font-size: 5px;
    }


    .view-item-button{
        font-size: 9px;
    }
}
