<div class="review-delivery-page roboto-regular">
    
    <div class="review-delivery-title">
        <h2 style="margin: auto;">Review Delivery</h2>
    </div>
    
    <!-- style="z-index: 500;position: absolute;" -->
    <div *ngIf="popUp">
        <app-pop-up [heading]="popUpHeading" [text]="popUpText" (close)="closePopUp($event)"></app-pop-up>
    </div>
    <div *ngIf="popPage">
        <app-pop-page [pageToDisplay]="'coupon'" [Title]="popPageTitle" (data)="popPageData($event)" (close)="ClosePopPage($event)"></app-pop-page>
    </div>

    <div>
        <form class="review-delivery-component" [formGroup]="ReviewForm">
            <div class="review-delivery-type">
                <div class="review-delivery-type-title">
                    <h3>Delivery Options</h3>
                </div>
                <div class="review-delivery-type-context blur">
                    <div class="review-delivery-type-options">
                        <input type="radio" value="APSRTC" formControlName="deliveryOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>APSRTC Cargo Services</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <div style="display: grid; place-items: center; user-select: none;">
                            <img style="max-width: 28px;" src="../../../assets/Pictures/APSRTC.ico">
                        </div>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('APSRTC')">Info?</a>
                    </div>
                    <div class="review-delivery-type-options">
                        <input type="radio" value="Third-Party" formControlName="deliveryOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Third-Party Delivery Services</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Third-Party')">Info?</a>
                    </div>
                    <div class="review-delivery-type-options">
                        <input type="radio" value="Dedicated" formControlName="deliveryOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Dedicated Truck Delivery</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Dedicated')">Info?</a>
                    </div>
                </div>
            </div>
            <hr style="display: none;">
            <div class="review-package-type">
                <div class="review-package-type-title">
                    <h3>Packaging Options</h3>
                </div>
                <div class="review-package-type-context blur">
                    <div class="review-package-type-options">
                        <input type="radio" value="Premium" formControlName="packageOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Premium Packaging</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Premium')">Info?</a>
                    </div>
                    <div class="review-package-type-options">
                        <input type="radio" value="Pocket-Friendly" formControlName="packageOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Pocket-Friendly Packaging</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Pocket-Friendly')">Info?</a>
                    </div>
                    <div class="review-package-type-options">
                        <input type="radio" value="Basic" formControlName="packageOption">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Basic Packaging</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Basic')">Info?</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="review-add-ons-component">
            <div class="review-package-type">
                <div class="review-package-type-title" style="margin-bottom: 17px;">
                    <h3>Optional</h3>
                </div>
                <div class="review-package-type-context blur">
                    <div class="review-package-type-options">
                        <input type="checkbox" [(ngModel)]="IsGift">
                        <span style="user-select: none;">&nbsp;&nbsp;&nbsp;</span>
                        <p>Gift Package</p>
                        <span style="user-select: none;">&nbsp;&nbsp;</span>
                        <a (click)="showPopUp('Gift')"> Add Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="proceed-forward-button" [class.proceed-forward-button-disabled]="!this.ReviewForm.valid" (click)="proceedButtonClicked()">
        <p style="margin: 0px;">Proceed Forward</p>
    </div>

    <hr style="max-width: 1333px;">

    <div class="review-delivery-info">
        <p>Need help? Check our <a href="../help">help</a> page or <a (click)="RedirectToInformation('5382cd00-6215-4b10-8739-8566a5ec1e36')">contact us</a></p>
        <p>Upon placing your order, you will receive an email confirmation acknowledging receipt of your order. If you select an electronic payment method (credit card, debit card, or net banking), you will be redirected to your bank’s website to complete the transaction. Your purchase contract will be finalized once we have received your electronic payment and dispatched your item.</p>
        <p>Need to add more items to your order? Continue shopping on the <a routerLink="../home">MangoTrees.in homepage.</a></p>
    </div>
    <br>
</div>


<div *ngIf="loader">
    <app-loader></app-loader>
</div>