* {
  -webkit-tap-highlight-color: transparent;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}





.single-line {
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;
}
.multi-line-2{
  overflow: hidden;                
  display: -webkit-box;           
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 2;           
  text-overflow: ellipsis;       
} 
.multi-line-3{
  overflow: hidden;                
  display: -webkit-box;           
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 3;           
  text-overflow: ellipsis;       
} 
.multi-line-4{
  overflow: hidden;                
  display: -webkit-box;           
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 4;           
  text-overflow: ellipsis;       
} 
.multi-line-5{
  overflow: hidden;                
  display: -webkit-box;           
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 5;           
  text-overflow: ellipsis;       
} 