<div class="home-page">

    <!-- <div>
        <app-nav-bar></app-nav-bar>
    </div> -->

    <div class="main-image-view roboto-regular">
        <div class="view-all-button-section">
            <div class="view-all-button">
                <p class="font-18" style="margin: 2px;">View All</p>
                <span >&rarr;</span>
            </div>
        </div>
    </div>
    <div class="new-pinch roboto-regular">
        <h3 style="text-align: center;">New Pinch!</h3>
        <div style="display: flex;justify-content: space-evenly;">
            <app-grid-view-item></app-grid-view-item> 
            <app-grid-view-item></app-grid-view-item> 
            <!-- <app-grid-view-item></app-grid-view-item> 
            <app-grid-view-item></app-grid-view-item>  
            <app-grid-view-item></app-grid-view-item>  -->
        </div>
    </div>

    <!-- <div>
        <app-footer></app-footer>
    </div> -->

</div>


<!-- grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 10px;overflow: hidden; -->